[2019-07-25 14:29] asdimitriadis opened #691 "User Guide needs to be updated"
The User Guide needs to be updated so that it will include the following change:

- The "Change password" button existing under the User Account menu (located at the right side of the navigation bar) has changed to "Settings" as depicted in the following screenshot.

![changes](https://user-images.githubusercontent.com/37205288/61882712-052beb00-aec7-11e9-932b-f0223f72d875.jpg)

[2019-07-25 19:39] #690 closed, assigned to hakjuoh

[2019-07-25 19:40] #691 closed, assigned to hakjuoh

[2019-07-26 21:45] kbserm opened #692 "Add Example in BIE"
Add Example column to BBIE and BBIE_SC tables. Expose this as a text field in the respective BIE node in the BIE tree.

Then, update the JSON Schema expression generation to express this field in the "example" key in JSON schema.

[2019-08-08 19:23] hakjuoh opened #693 "Generating duplicated elements if the BIE was created by JSF"
@kbserm @asdimitriadis In order to reproduce the problem, it would use the following steps:

1. Create an initial BIE datum, _ReferenceDesignatorID_, from the previous JSF version of Score.
2. Open the created BIE at the Angular version of Score, then it could not see a checked box for _ReferenceDesignatorID_ in the BIE tree.
3. Check _ReferenceDesignatorID_ again to make it as a used.
4. Generate

[2019-08-08 20:48] hakjuoh opened #694 "Cannot update the context document for BIE"
@asdimitriadis You can reproduce the problem as follows:

0. Create _Process BOM_ BIE
1. Check _Process BOM_ > _Data Area_ > _BOM_ > _BOM Item Data_ > _Reference Designator Identifier_.
2. Put any text message on the context documentation.
3. Click the Update button.
4. Reload the page and check the status whether the message is updated or not.

[2019-09-17 20:04] asdimitriadis opened #695 "Cannot update the remark field of a BIE node"
The issue is that the "Remark" field of a BIE node cannot be updated. To reproduce the issue:

1. Create "Process BOM" BIE
2. Enable Process BOM > Data Area > BOM > BOM Item Data > Reference Designator Identifier.
3. Fill out the Remark field with any value.
4. Click the Update button.
5. Reopen this BIE and go to view the node of the above step 2. The value of the remark field is not stored.

The

[2019-09-17 21:56] #695 closed, assigned to rekuku

[2019-09-17 21:59] asdimitriadis opened #696 "Cannot update the Default value field of a BIE node"
The issue is that the "Default value" field of a BIE node cannot be updated. To reproduce the issue:

1. Create "Process BOM" BIE
2. Enable Process BOM > Data Area > BOM > BOM Item Data > Reference Designator Identifier.
3. Fill out the Default value field with any value.
4. Click the Update button.
5. Reopen this BIE and go to view the node of the above step 2. The value of the Default vaule fiel

[2019-09-18 15:21] kbserm opened #697 "Display of Group is incorrect in the CC view."
Taking Ship Unit Base ACC as an example, it has association to several ACC Group, but the group is current ignore in CC view. This should not be the case.  See screen shorts between Angular and JSF versions below, the JSF version was working correctly.

**Angular**
![image](https://user-images.githubusercontent.com/7863166/65161856-47c0fe00-da06-11e9-82e9-eacaa6faf3a2.png)

**JSF**
![image](https:

[2019-09-18 15:26] kbserm opened #698 "Behavior related to clicking on the ASCC or BCC in View CC page"
When the search result includes ASCC or BCC and I click on them, the app takes me back to the home page. This is an unexpected behavior. In JSF, clicking on ASCC or BCC does nothing.

[2019-09-19 15:59] #698 closed, assigned to rekuku

[2019-09-19 15:59] #694 closed, assigned to hakjuoh

[2019-09-20 15:56] asdimitriadis opened #699 "bbiep-attribute and bbiep elements cannot be displayed if the BIE is Candidate or Published"
The issue is that bbie and bbie-attribute elements cannot be displayed if the BIE is in Candidate or in Published state. The error is depicted in the attached screenshot.
To reproduce the issue you can create a BIE and then change its state to Candidate. When you try to view a bbie or bbie-attribute element an error is displayed regardless if you own or not this BIE. The same issue happens if we p

[2019-09-20 20:11] hakjuoh opened #700 "Supporting OpenAPI Schema Generation"
![image](https://user-images.githubusercontent.com/16102116/65355987-51429580-dbc1-11e9-97d6-caa104e8842d.png)
See [this](https://docs.google.com/spreadsheets/d/1UGfI2OpKMq0d1IrvZ7Mw-G12VyrIMJ8whdvzp2sAG_w/edit#gid=2128963555) for data mapping and [this](https://docs.google.com/document/d/1rb3d7AOzqwnqZnl5n-4-FXZUZZWXWYNqhObGVT7agn0/edit#heading=h.u3eq3yn7isry).

[2019-09-23 16:53] hakjuoh opened #701 "Populating OAGIS 10.6 into srt-repository"
OAGIS 10.6 now released and we need to import it into srt-repository. The migration script also should be written.

[2019-09-23 21:28] asdimitriadis opened #702 "The Primitive field is not displayed when a BIE is in Candidate state"
The issue is that when a BIE is in Candidate state, in **some cases** the Primitive field of a bbie (bbiep-attribute) is not displayed as it is depicted in the attached screenshot.
The BIE "Sync Response Merge WIP" is in Candidate state and the Primitive field of the "Release Identifier" is not displayed. The Angular version is at the left side and the JSF version at the right side.

![issue](http

[2019-09-23 21:30] #699 closed, assigned to rekuku, Sox094

[2019-09-24 17:13] hakjuoh opened #703 "Score Python API"
Python SDK would be better for Nenad.

[2019-09-24 17:38] #693 closed, assigned to hakjuoh, michaelfigura

[2019-09-25 01:57] #680 closed, assigned to nobody

[2019-09-25 12:46] #686 closed, assigned to hakjuoh

[2019-09-25 12:46] #696 closed, assigned to rekuku

[2019-09-25 21:16] #702 closed, assigned to rekuku

[2019-09-26 18:21] kbserm opened #704 "Update User Guide"

[2019-09-27 01:02] #697 closed, assigned to rekuku, hakjuoh

[2019-09-30 19:10] kbserm opened #705 "Move all private repos to OAGi org repos"
Repo names are
- Score Client
- Score HTTP Gateway for MySQL???
- Score Acceptance Test
- Score Data Loading Scripts

[2019-09-30 19:10] kbserm opened #706 "Apply MIT License"

[2019-09-30 19:11] kbserm opened #707 "NIST Score Web Page"

[2019-10-03 14:18] asdimitriadis opened #708 "An Extension point cannot be expanded"
The issue is that in some cases the extension point in a BIE tree cannot be expanded. If we click on the mat-icon (arrow), an error is returned as depicted in the Attached screenshot.

![issue1](https://user-images.githubusercontent.com/37205288/66134886-0f551e80-e5c7-11e9-970a-d4a9b344436f.jpg)

[2019-10-03 21:12] asdimitriadis opened #709 "When the user changes the max cardinality to 0, the warning message for the definition should be popped up"
Similar to #612 issue but this is related to UEG (local and global extension).
When the original Min Cardinality is 0 and Max Cardinality is 1, the user can change the Max to 0 providing that the definition field is **not** blank.

The expected behavior is that the system shall indicate a message that "The Definition should define why the max cardinality is zero".

[2019-10-04 13:16] #708 closed, assigned to hakjuoh

[2019-10-04 13:17] #674 closed, assigned to rekuku, hakjuoh

[2019-10-04 16:23] asdimitriadis opened #710 "An extension should not have two same associations"
The issue is that we can append an ASCCP or a BCCP to a Local or Global extension even there is an association with the same name as depicted in the attached screenshot.

![issue3](https://user-images.githubusercontent.com/37205288/66223530-b5755700-e6a1-11e9-8ea6-dbfee4ee6cf6.jpg)

[2019-10-04 22:11] asdimitriadis opened #711 "Cannot publish a global extension"
When I append some ASCCPs and BCCPs to a global extension and try to publish it, this error message is returned.

![issue4](https://user-images.githubusercontent.com/37205288/66243165-8d055100-e6d1-11e9-9d1b-07008d44d250.jpg)

If I remove some of them , I can publish it.

[2019-10-04 22:31] asdimitriadis opened #712 "A BCCP association cannot be removed"
The issue is that when I append the BCCP "Year. Date" to a Global Extension, then I cannot remove it since there is no the "X" mat-icon as depicted in the screenshot

![issue](https://user-images.githubusercontent.com/37205288/66244112-0c485400-e6d5-11e9-8701-17ac3e5d2343.jpg)

![issuwww](https://user-images.githubusercontent.com/37205288/66244117-0eaaae00-e6d5-11e9-94be-a01b1b9a0b72.jpg)

[2019-10-07 14:05] asdimitriadis opened #713 "Notification about updates of an extension point is not displayed"
The issue is that when a user opens an unpublished BIE existing prior to an extension is published, the notification message about any updates to an extension point is not displayed.
See the issue #661 and the below screenshot

![issue regarding path](https://user-images.githubusercontent.com/37205288/66318747-e34cdc80-e8e9-11e9-99a9-2f9b1216cb59.jpg)

[2019-10-07 15:04] hakjuoh opened #714 "Disable `bie_user_ext_revision` usage in codes."
See #652, #689 and #713.

[2019-10-07 15:27] #713 closed, assigned to nobody

[2019-10-08 01:36] asdimitriadis opened #715 "Unusual value selection in Context Scheme values"
When I open to view a context scheme, all values are selected.
Please see the following  picture
![issueCS](https://user-images.githubusercontent.com/37205288/66360820-70278280-e94a-11e9-800d-e11d5b2636a1.jpg)

[2019-10-09 12:53] asdimitriadis opened #716 "A user should not be able to generate BIE expression of an Editing BIE owned by another user"
The issue is that in BIE Express page (BIE -> Express BIE), there are displayed BIEs in Editing state and
owned users other than the one logged in. This leads to the issue that a user can generate BIE expression of an Editing BIE owned by another user.

The expected behavior is that a user cannot generate BIE expression of BIE in editing state and owner by another user.

[2019-10-09 12:54] asdimitriadis opened #717 "The Context Category field of the Context Scheme does not work."
The issue is that when we are trying to create a new Context Scheme, the Context Category field does not work. If we click on it, nothing happens (no drop-down menu).

Please see the screenshot attached.

The expected behavior is that when we click on that field, a list of available Context Categories should be displayed so that we can select the desired one to be used by the Context Scheme being

[2019-10-09 16:02] #675 closed, assigned to hakjuoh

[2019-10-09 16:05] #595 closed, assigned to kbserm

[2019-10-09 16:58] asdimitriadis opened #718 "A value of a context scheme can be deleted even if it is used by a business context"
The issue is that I can now delete a value of a context scheme even if it is used by a business context.
The expected behavior is that we can delete a context scheme value if it is used by a business context and a message should be returned informing that This value is used in a Business Context.

[2019-10-09 17:24] #587 closed, assigned to hakjuoh

[2019-10-09 19:43] #717 closed, assigned to rekuku

[2019-10-10 01:43] #716 closed, assigned to hakjuoh

[2019-10-10 02:33] asdimitriadis opened #719 "A business context cannot be deleted"
The issue is that we cannot delete a business context.
![11isue](https://user-images.githubusercontent.com/37205288/66534604-badd0200-eae4-11e9-8b05-bdedbd4966a7.jpg)

Note that also this message should be displayed when we want to delete a business context
![ssuefix](https://user-images.githubusercontent.com/37205288/66534630-ce886880-eae4-11e9-8fab-ec56c826baee.jpg)

[2019-10-10 13:16] asdimitriadis opened #720 "Cannot create a BIE"
The issue is that we cannot create a BIE after the last commit.

[2019-10-10 16:07] #531 closed, assigned to rekuku, Sox094

[2019-10-10 16:08] #715 closed, assigned to hakjuoh

[2019-10-10 16:09] #718 closed, assigned to rekuku

[2019-10-10 16:19] #719 closed, assigned to rekuku

[2019-10-10 20:28] #671 closed, assigned to rekuku, hakjuoh, Sox094

[2019-10-11 14:14] #573 closed, assigned to rekuku, hakjuoh

[2019-10-11 14:15] #720 closed, assigned to rekuku, hakjuoh

[2019-10-11 14:16] #714 closed, assigned to rekuku

[2019-10-11 14:24] #709 closed, assigned to rekuku

[2019-10-11 15:38] #711 closed, assigned to hakjuoh

[2019-10-11 20:30] #712 closed, assigned to rekuku, hakjuoh

[2019-10-12 01:24] hakjuoh opened #721 "'deprecated' state should display on CC List page."
Like JSF version, `deprecated` state should display on CC List page.

<img width="1100" alt="Screen Shot 2019-10-11 at 9 23 16 PM" src="https://user-images.githubusercontent.com/16102116/66692546-7335b200-ec6d-11e9-8558-ddfac26714f0.png">

[2019-10-15 13:48] asdimitriadis opened #722 "Business Context cannot be deleted when it was previously used by a BIE but not anymore"
The issue is that if a Business Context was used by a BIE and we delete this BIE then we cannot still delete the Business Context.
The expected behavior is that when we delete a BIE then we should be able to deleted the Business Context used by this BIE providing that it is not used by any other BIE.
Please see the attached pictures. I had create a BIE which used the Business Context "initBC". The

[2019-10-15 13:50] asdimitriadis opened #723 "Extension CCs are returned in the result page even if a release is selected"
The issue is that extension CCs are returned in the View CC page when a release is selected (e.g. 10.6). Please see the attached picture.
The expected behavior is that if a release is selected then only the CCs belonging to that release are returned.

![viewCC](https://user-images.githubusercontent.com/37205288/66837548-2f72cf00-ef31-11e9-8054-db0122df68a4.jpg)

[2019-10-15 13:55] asdimitriadis opened #724 "Expanding the tree of an ASCCP issue"
The issue is that I tried to open the ASCCP "WIP Status Extension" via "View CC" page and then to expand its tree when I got this error.

![expand node](https://user-images.githubusercontent.com/37205288/66837956-d8212e80-ef31-11e9-9cba-8532f2417f3d.jpg)

[2019-10-15 14:22] #672 closed, assigned to kbserm, hakjuoh

[2019-10-15 19:14] asdimitriadis opened #725 "The paginator in the Create BIE page does not work"
The issue is that we cannot use the paginator in the first page it is used to select a Bunisess context in order to associate it to a BIE.
Please see the screenshot attached.

![paginator](https://user-images.githubusercontent.com/37205288/66862219-7aefa200-ef5e-11e9-9dcd-1ad8e4654dee.jpg)

[2019-10-15 19:17] asdimitriadis opened #726 "Cardinality issues"
1. The issue is that the min cardinality cannot be changed to a value greater to 0 (e.g to 1) even if the max cardinality is unbounded.
The expected behavior is that when the original Min Cardinality is 0 and Max Cardinality is unbounded, the developer can change the Min to any integer more than zero.

2. The issue is that the max cardinality cannot be changed to zero (0) when the original Min Car

[2019-10-16 05:57] hakjuoh opened #727 "Populating Chem eStandards 6.0"
0. Before populating starts, `id` attribute with the prefix `cheme-id-` put into every `xs:element`, `xs:attribute`, `xs:simpleType`, and `xs:complexType`.

1. Populating `app_user`

i) Currently, the default user name and password are `oagis` and `oagis`. It probably should be `cheme` and `cheme`.
ii) `app_user`.`oagis_developer_indicator` column name may need to change to `cheme_developer_indica

[2019-10-17 14:07] #722 closed, assigned to rekuku

[2019-10-17 21:58] #725 closed, assigned to rekuku

[2019-10-17 22:00] #704 closed, assigned to asdimitriadis

[2019-10-18 01:38] kbserm opened #728 "Enable SSO"

[2019-10-18 13:47] #724 closed, assigned to hakjuoh

[2019-10-18 13:48] #723 closed, assigned to hakjuoh

[2019-10-18 20:00] hakjuoh opened #729 "Change the column name `oagis_developer_indicator` to `is_developer`."

[2019-10-20 15:26] #726 closed, assigned to rekuku

[2019-10-20 15:26] #729 closed, assigned to hakjuoh

[2019-10-23 01:17] hakjuoh opened #730 "Changing supported JSON schema version"
Due to introducing several necessary keywords such as `const`, `examples` since [draft-wright-json-schema-validation-01](https://tools.ietf.org/html/draft-wright-json-schema-validation-01) (formally known as draft 6), current JSON schema generation logic should be reflected its changes. We may need to discuss of what versions we should support.

[2019-10-23 01:29] hakjuoh opened #731 "Supporting XPath expression to search and retrieve elements in the BIE"
This issue relates to #703. In order to handle a BIE using expressive way to indicate the specific elements as Nenad wishes, XPath would be a good choice. JSONPath or CSS Selector-style expressions also could be alternative options.

[2019-10-23 01:30] #701 closed, assigned to hakjuoh

[2019-10-31 18:13] hakjuoh opened #733 "Stuck BIE state in 'Initializing' after calling 'Copy BIE'"
Today we tried to make a copy of our ProcessBOM BIE in Score, so that Josh could make edits on his own. When I made a copy of my current version, which is in edit mode, the new copy is stuck in a state that says “Initializing”. I tried a second time and the second one is stuck in the same state. How can we make a copy of my current BIE so that Josh can work on it?

![unnamed](https://user-images.g

[2019-11-04 11:28] #537 closed, assigned to rekuku, hakjuoh

[2019-11-04 11:34] #527 closed, assigned to rekuku, hakjuoh

[2019-11-04 12:05] #517 closed, assigned to kbserm

[2019-11-04 12:10] #518 closed, assigned to kbserm

[2019-11-04 15:36] #513 closed, assigned to nobody

[2019-11-04 16:43] #477 closed, assigned to hakjuoh

[2019-11-04 16:44] #479 closed, assigned to hakjuoh

[2019-11-04 16:53] #488 closed, assigned to hakjuoh

[2019-11-04 17:26] #437 closed, assigned to kbserm

[2019-11-04 21:13] #551 closed, assigned to rekuku

[2019-11-06 20:27] hakjuoh opened #734 "Transfer ownership button doesn’t appear when ‘login_id’ uses different cases either lower or upper"
@asdimitriadis This issue should also handle with other behaviors such as 'Creating Account'.

[2019-11-06 21:50] asdimitriadis opened #735 "Update User Guide"
The user guide should be updated to include the UI changes of the milestone.
Please document here the new changes once they are done.

[2019-11-11 23:15] hakjuoh opened #736 "Replace `acc`.`oagis_component_type` with `component_type`"
@kbserm A current column name `oagis_component_type` in `acc` table is too specific to OAGIS. It probably needs to change to `component_type`. A problem is that there are standard-dependent types such as OAGIS10Nouns (6) and OAGIS10BODs (7).

[2019-11-12 22:27] hakjuoh opened #737 "Apply 'searching' on drop-down list."
@kbserm @asdimitriadis I put this issue due to enhancement of usability. When end-users click the drop-down list, it needs to scroll down to look up what they need to assign. It makes hard to find it if the size of the list is too big. Now it changed like this:

<img width="842" alt="Screen Shot 2019-11-12 at 5 22 46 PM" src="https://user-images.githubusercontent.com/16102116/68715918-10d41800-057

[2019-11-13 17:29] #721 closed, assigned to hakjuoh

[2019-11-13 19:37] #706 closed, assigned to hakjuoh

[2019-11-13 20:19] #733 closed, assigned to hakjuoh

[2019-11-13 23:17] hakjuoh opened #738 "‘nillable=“true”’ and ‘use=“required”’ properties in CCs should reflect to BIEs"

[2019-11-13 23:18] hakjuoh opened #739 "Set ‘data-id’ attributes on all UI components"
Note that the value of attributes must be unique in the page.

[2019-11-14 00:21] hakjuoh opened #740 "Documentation using Spring REST Docs"
A major benefit using [Spring REST Docs](https://spring.io/projects/spring-restdocs) is that it can combine documentations with unit tests. So if the documentation snippet is incorrect, test that produces is fails.

[2019-11-20 18:45] #734 closed, assigned to rekuku, hakjuoh

[2019-11-25 22:56] #510 closed, assigned to rekuku, hakjuoh

[2019-11-26 16:45] #692 closed, assigned to kbserm, rekuku, hakjuoh

[2019-11-26 16:46] #585 closed, assigned to kbserm

[2019-11-26 16:47] #730 closed, assigned to kbserm, hakjuoh

[2019-11-26 16:48] #737 closed, assigned to rekuku, hakjuoh

[2019-11-26 16:49] #682 closed, assigned to kbserm, rekuku, hakjuoh

[2019-11-26 18:09] #738 closed, assigned to rekuku, hakjuoh

[2019-11-26 18:09] #673 closed, assigned to rekuku, hakjuoh

[2019-11-27 16:37] rekuku opened #741 "Displayed in duplicate at Context Scheme Values"
When two different Business Contexts refer to the same Value in Context Scheme, they will be displayed in duplicate.

We should fix this bug and also do not allow create Context Scheme Value as same name.

[2019-11-27 16:37] jim-wilson-kt opened #742 "Error adding context schema value at oagiscore.net"
At: https://oagiscore.net/context_management/context_scheme/64

When I click on the save button after adding a value, I get a message “Server Internal Error: Http failure response for http://oagiscore.net/context_management/context_scheme/64: 500 OK”

I note that the page URL is specifies a secure protocol (https) while the URL in the error message specifies a non-secure protocol (http).

[2019-11-27 22:51] asdimitriadis opened #743 "Code List duplicate value"
A Code List should not have one value more than one times.

[2019-11-27 22:52] asdimitriadis opened #744 "Business Context duplicate value"
A Business Context should not have one value more than one times.

[2019-12-02 16:21] #735 closed, assigned to asdimitriadis

[2019-12-09 17:06] asdimitriadis commented on #743
Tested.

[2019-12-09 17:06] #743 closed

[2019-12-09 17:06] asdimitriadis commented on #744
Tested.

[2019-12-09 17:06] #744 closed

[2019-12-12 21:17] kbserm opened #746 "Some states and terms to be considered adopted from ISO 11179 administered item when implementing deprecation"
ISO 11179 has the terms - retired and superseded. We think that retired = deprecated w/o replacement. Superseded = deprecated with replacement.

[2019-12-30 21:03] kbserm opened #747 "The is_used column of some ancestor nodes don't get recorded"
The is_used column of some ancestor nodes don't get recorded. This happened when the user keep expanding the BIE tree and enable a node deep down. Some ancestor nodes don't get recorded, even though the UI displayed correctly. When generate the XML schema, the expected descendant nodes don't get generated.

[2019-12-30 21:15] rekuku commented on #747
Some ASBIE node has not check correctly ( is_used must be set 1, but it was not )
e.g. top_level_bie_id 8, 18.
I try to reproduce this in my local environment, but it works fine. it could be happen at AWS instance environment.

[2020-01-02 17:18] rekuku commented on #747
It is not AWS instance environment problem.
This bug occurs when if user using mixes the `used` checkbox in the tree and the checkbox in the detail view.
The bug scenario is as follows:
Create BIE ->
 Expand tree ->
 Set used some node using tree’s checkbox ->
 Load node’s detail by click node ->
 Set unused node using details’ checkbox ->
 Set used node using detail’s checkbox ->
 Update
Then tha

[2020-01-02 17:22] asdimitriadis commented on #747
Got it. I am testing it.

[2020-01-04 02:19] kbserm commented on #747
when this error occurred, I actually never use the check box in the details pane.

[2020-01-04 02:47] rekuku commented on #747
This bug related to the order of loading details.
It also happens when you only use the tree’s checkbox.

In this case, the scenarios are as follows:
Create BIE ->
Expand tree ->
Set used some node using tree’s checkbox ->
Load detail node what one of checked ->
Update.
@kbserm

[2020-01-04 19:56] asdimitriadis opened #748 "Incorrect name of DEN field"
When the OAGIS terminology is selected the name of the DEN field should be "Dictionary Entry Name". Now it is "Directory Entry Name" which is wrong.

[2020-01-06 17:57] kbserm opened #749 "Error in state filtering on View CC page"
when I selected all the states, no CC is listed.

[2020-01-06 18:24] rekuku commented on #749
@kbserm
Currently Editing, Candidate, Publishing, and Deprecated are inquired by single UI component.
But "Editing, Candidate, Publishing" and "Deprecated" are different data.

If user select all of Editing, Candidate, Publishing, and Deprecated, than it means STATUS IN (Editing, Candidate, Publishing) AND is_deprecated = 1,
However, since such data does not exist in the data, so no results are qu

[2020-01-06 18:40] rekuku commented on #748
Thank you. Now it replaced.

[2020-01-07 16:29] rekuku commented on #487
Deprecated cannot be set when revision is 1 (first creation).

[2020-01-07 16:35] rekuku commented on #100
Deprecated cannot be set when revision is 1 (first creation).

[2020-01-07 16:37] rekuku commented on #487
Developer user only can make new revision CC from the working release to working release.
End user only can change state of CC from ‘Published’ to back to Editing at a specific release.

[2020-01-08 18:37] asdimitriadis opened #750 "View/review of an extension in Candidate state"
The issue is that if a BIE has been extended locally on an extension point and the extension is in candidate state then another user cannot view/review the extension.
The expected behavior is that when a BIE has been extended locally on an extension point then another user can view/review that extension (but he cannot edit it).
To reproduce the issue:
1. Login as a devx
2. Create the BIE "ASN Refe

[2020-01-08 19:00] asdimitriadis opened #751 "Extend a BIE locally on an extension point that there is a published local extension"
The issue is that if a BIE has been extended locally and the extension point is in Published state then another user cannot extend the BIE locally on the same extension point.
The expected behavior is that the BIE can be extended locally by a user on an extension point even if another user has already extended it locally on this extension point providing that the extension is in Published state.

[2020-01-09 16:54] kbserm commented on #749
@rekuku I think it makes sense the separate Status and Deprecated filter.

[2020-01-09 16:56] kbserm commented on #749
Or can you simply change the where condition to  STATUS IN (Editing, Candidate, Publishing) OR is_deprecated = 1 ? Would this cause problem?

[2020-01-09 18:43] rekuku commented on #749
We can change AND to OR, but it would be better to separate that UI. Because if we use OR, we should use the AND operator when Deprecated = 0 ( STATUS IN (Editing) OR is_deprecated = 0 will be showing almost every CCs  ), and only use the OR operator when Deprecated = 1, which might be more confusing.

[2020-01-10 16:10] rekuku commented on #749
<img width="1045" alt="Screen Shot 2020-01-10 at 11 02 00 AM" src="https://user-images.githubusercontent.com/10194354/72167341-f6fc5900-3398-11ea-98ea-36d82b448f50.png">

Add `Deprecated` checkbox to Cc List search form.
So now user can recognize `Deprecated` as separate data.

@asdimitriadis Please review and test this.

[2020-01-10 16:16] rekuku commented on #750
I add condition to Create Extension logic what checking Extension's State.
So now other users can review Extensions in Candidate, Published state.

[2020-01-15 17:38] kbserm opened #752 "BIE pages should have release column and filter as appropriate"
When there are BIEs based on different releases of OAGIS, pages such as View/Edit BIE page should have release column and also filter.

[2020-01-16 22:10] kbserm opened #753 "Fix JSON schema and OAS schema object serialization"
Fix them according to the recent examples serm created.

[2020-01-16 22:11] kbserm commented on #753
[FullBOMBIEExample1.1.json.txt](https://github.com/OAGi/Score/files/4073989/FullBOMBIEExample1.1.json.txt)

[FullBOMBIEExample1.1OASSchemaObject.json.txt](https://github.com/OAGi/Score/files/4073992/FullBOMBIEExample1.1OASSchemaObject.json.txt)

[FullBOMBIEExample1.1OASSDoc.json.txt](https://github.com/OAGi/Score/files/4073994/FullBOMBIEExample1.1OASSDoc.json.txt)

[2020-01-21 13:23] asdimitriadis commented on #748
Tested

[2020-01-21 13:23] #748 closed

[2020-01-21 19:10] rekuku commented on #751
Extensions are working between each other users as with below.
Editing: other user can NOT  edit/view extension
Candidate: other user only can view extension
Published: other user can edit extension with new revision.
@asdimitriadis You can find this at develop branch.

And we need to think more whether to change the structure for apply rules of TC5.6 - 8.

[2020-01-21 19:19] rekuku opened #754 "Error in Context Scheme Value change."
If the Context Scheme change from imported code list to manual or opposite way then, BC’s value which reference CS’s value has deleted.

[2020-01-21 19:23] asdimitriadis opened #755 "Block the functionality "Import from Code List" in case a BC uses one value of a CS"
There is the following scenario:
Assuming that we have the Context Scheme CSa that has the value csva with the name "aValue" and the Business Context BCa that uses the csva.
1. If a changes the name of the csva from "aValue" to "aValueNewName", then the new name should be displayed in both the CSa details page (when we view the CSa) and in the BCa details page (when we view the BCa). This works go

[2020-01-21 19:25] #754 closed

[2020-01-21 19:26] rekuku commented on #754
Duplicated with #755 so close it.

[2020-01-21 19:52] asdimitriadis opened #756 "UEGASCC should not be shown in the CC page"
The issue is that the UEG ASCCs are shown in the Core Component page.
The expected behavior is that they must not be shown in the list.

[2020-01-21 19:55] rekuku commented on #755
Block `Import from Code list` checkbox when It's Context Scheme Value in use.

[2020-01-21 20:38] asdimitriadis commented on #749
It works good.

[2020-01-21 21:48] asdimitriadis commented on #755
Tested.

[2020-01-21 22:09] rekuku commented on #756
Until now, only UEG ASCC and ASCCP belonging to the Working release have not been shown.
But now not allowed to display all UEG CCs regardless of Release.
@asdimitriadis Please test this.

[2020-01-22 03:34] rekuku commented on #755
And also
Change to only a combination of category, scheme, and value need to be unique.

[2020-01-22 14:43] asdimitriadis commented on #756
To sum up, regarding the UEG CCs:
- If the working release is chosen, no UEG CC is shown
- If a release is chosen, only the UEGACCs (User Extension Group Aggregate Core Components) are shown.

Tested.

[2020-01-22 14:43] #756 closed

[2020-01-22 19:33] kbserm commented on #755
I think you should add the following logic. If a CS value is specied in the CS,  disable the import. If all values are deleted, them import is possible again. If import is used, no value can be specified.

[2020-01-23 16:46] asdimitriadis commented on #755
It is fixed when one is updating a Business Context but not when one is creating a new one. That is to say, when you create a business context, you cannot add a value that has the same name with an existing one but different Context Category and Context Scheme.

[2020-01-23 17:17] rekuku commented on #755
I add this rules for Context Scheme create/edit view.

And apply same thing to creating view.

@asdimitriadis Please review this on develop branch.

[2020-01-24 19:20] asdimitriadis commented on #755
@rekuku I think that now we have to overlapped logics and we should keep only the latest one that Serm suggested, namely "_I think you should add the following logic. If a CS value is specified in the CS, disable the import. If all values are deleted, them import is possible again. If import is used, no value can be specified_"

So we should remove the previous one, wiz "_block the "Import from a

[2020-01-24 19:56] asdimitriadis commented on #747
Tested.

[2020-01-24 19:56] #747 closed

[2020-01-24 22:17] asdimitriadis commented on #755
We keep both logics/rules since they are not totally overlapped.
In case the user added values manually they are overlapped.
However, in case the user used the "import from code list" functionality, they are not overlapped since the second logic prevents the user from choosing another code list.

[2020-01-26 14:38] dubnemo opened #757 "On Business Context Detail page, show Context Value Name"
On Business Context Detail page, Business Context Value list, show Context Value Name.  Currently this is showing the value /code, not the **human readable description** of the code.

During demos, people are unclear about what these codes mean.

[2020-01-26 14:56] dubnemo opened #758 "Collapse the View/Edit BIE list page so the page navigation control is at the bottom of the screen without scroll down"
We need a conversation about this page, as this came up during the demo calls.

The old UI (non-Angular version) was much more collapsed user friendly.  Typically, if you have pagination, the UI Design suggests that the page control is at the bottom of the screen.  Today, in the Angular Score, you have to scroll down to find the control as the page layout is not optimized, and nearly defeats the p

[2020-01-27 20:05] #755 closed

[2020-01-27 20:07] #749 closed

[2020-01-27 23:04] asdimitriadis commented on #710
According to our last meeting, we found that the issue still exists. For instance one can append a BCCP with the same DEN creating in this way a duplicate node.

[2020-01-28 12:58] kbserm commented on #753
Fixed a mistake oneOf => allOf in one of the subschema as pointed out by Hakju.

[FullBOMBIEExample1.1.json.txt](https://github.com/OAGi/Score/files/4122426/FullBOMBIEExample1.1.json.txt)
[FullBOMBIEExample1.1OASSchemaObject.json.txt](https://github.com/OAGi/Score/files/4122429/FullBOMBIEExample1.1OASSchemaObject.json.txt)
[FullBOMBIEExample1.1OASSDoc.json.txt](https://github.com/OAGi/Score/files/

[2020-01-28 13:12] asdimitriadis commented on #751
If an UEGACC has revision number greater than 1, old associations cannot be deleted but they can be deprecated.
Also old associations (ASCCs and BCCs) should follow the following business rules:
1.	Min <= previous_Min
2.	If previous_Max = -1, it cannot be changed.
3.	If previous_Max != -1 and previous_Max >=0, Max >= previous_Max

[2020-01-28 21:35] asdimitriadis commented on #750
Tested.

[2020-01-28 21:35] #750 closed

[2020-01-29 15:24] dubnemo opened #759 "Create functionality to set Max Cardinality to 1 for all children"
An extraordinary amount of time is spent changing cardinality from unbound to 1.  Even though the standard allows for unbounded occurrences, in most cases except for *Line types, the cardinality is changed.

This is the biggest complaint we are seeing about OAGIS from developers to date (other than the generic nature if identifiers with typeCodes in cases).

Enabling a right click option to set th

[2020-01-29 16:18] kbserm commented on #710
@asdimitriadis your comment above reference the case of DEN (perhaps more like Property Term) duplicate with that on the based type.

[2020-01-29 16:19] kbserm commented on #710
Don't forget that you need to prune any Group contained within the ACC or based ACC as well.

[2020-01-29 17:19] kbserm commented on #759
@dubnemo

My concern about this is the user won't see the original 'unbounded' possibility.

But to implement this feature, we might provide a check box on the BIE editing page where the user  has the option to default unbounded max cardinality to 1 once a BIE is checked. This is because BIE descendants are dynamically created as the user click the the check boxes. There is also a question to what

[2020-01-29 19:37] dubnemo commented on #759
@kbserm My take on this is that I would _first_ go through the selection process of all the BIE types/elements first, and then decide to set the cardinality.  I envision that only be done one time.  Then elements could be set to unbounded.

Regarding the unbounded po ssibility, if an element is unbounded in the standard but not in the BIE after mass update, would it be possible to color code or so

[2020-01-29 20:43] hakjuoh commented on #753
@kbserm Please review the generated schemas for both JSON and OAS after applying new rules.

[OAS-BOM-oagis-id-8ba43f95f8ef46719f41cfd929f830a3.json.txt](https://github.com/OAGi/Score/files/4130634/OAS-BOM-oagis-id-8ba43f95f8ef46719f41cfd929f830a3.json.txt)
[JSON-BOM-oagis-id-8ba43f95f8ef46719f41cfd929f830a3.json.txt](https://github.com/OAGi/Score/files/4130635/JSON-BOM-oagis-id-8ba43f95f8ef46719f

[2020-01-29 22:03] rekuku commented on #751
@asdimitriadis
TC5.6's ASCC/BCC rules has applied.
You can found this at release/1.3.0 branch.

Please test this. Thank you.

[2020-01-30 01:17] kbserm commented on #753
A few corrections after talking to @hakjuoh today.

[FullBOMBIEExample1.1OASSDoc.json.txt](https://github.com/OAGi/Score/files/4131685/FullBOMBIEExample1.1OASSDoc.json.txt)
[FullBOMBIEExample1.1.json.txt](https://github.com/OAGi/Score/files/4131686/FullBOMBIEExample1.1.json.txt)
[FullBOMBIEExample1.1OASSchemaObject.json.txt](https://github.com/OAGi/Score/files/4131687/FullBOMBIEExample1.1OASSchema

[2020-01-30 01:22] kbserm commented on #759
@dubnemo So you are suggesting more like a button, if clicked, change all the unbounded to 1.

For the color code we could try that.

[2020-01-30 02:02] kbserm commented on #758
@dubnemo I think this page layout is a result of my and/or someone else suggestion to have definition on this page. Search for a component that has definition and you will see it.

If there is a definition, then more columns make row height of each CC bigger, i.e., even longer scroll to the bottom to reach pagination buttons.

One simplification we will definitely do is to remove the definitionSou

[2020-01-30 13:49] asdimitriadis commented on #751
I have found an issue after the above commit.

The issue is that when I create a BIE, the first time I try to extend it, it returns the error that "Editing Extension already exists.". If I try again, it works and I can extend the BIE. So, the error is returned only at the first time someone tries to extend a BIE. Every next time it works.

P.S. I have restarted everything as well as the database a

[2020-01-30 15:52] rekuku commented on #751
@asdimitriadis
In Publishing, there was a code that took a long time ( about 3 seconds) with regard to #714 .
It's faster now because I don't use this time.
Please check this on 1.3.0 branch.

[2020-01-30 16:49] asdimitriadis commented on #751
The issue still exists.
To reproduce it.
1) Create the BIE "ASN reference" and leave the Edit BIE page (e.g. visit CC View page).
2) Open the BIE List page (BIE -> View/Edit BIE).
3) Click to open the BIE "ASN reference".
4) Expand it (you need only to expand the parent node).
5) Extend it locally (ASN Reference -> Extension).
**_At this point this message is returned "Editing Extension already ex

[2020-01-30 17:22] rekuku commented on #751
@asdimitriadis
It happen when trying to extend at first time.
Now fixed.

[2020-01-30 17:42] hakjuoh commented on #749
@asdimitriadis I changed the UI component for "Deprecated" filter from 'mat-checkbox' to 'mat-select' to keep consistency.

<img width="244" alt="Screen Shot 2020-01-30 at 12 41 11 PM" src="https://user-images.githubusercontent.com/16102116/73475166-d141ee80-435d-11ea-9740-250f426567e5.png">

[2020-01-30 18:34] asdimitriadis commented on #751
Another new issue is that now I cannot change the fields of olds association (ASCCs and BCCs).
Once I create a revision of an extension then the fields of _some_ old associations are disabled (they are not interactable).

[2020-01-30 19:33] #753 closed

[2020-01-30 19:34] #700 closed

[2020-01-30 20:00] rekuku commented on #751
For cardinality, if it is published as the default value in old revision (0, -1), then the new revision cannot be changed.
Because we got this rules
 - Min <= previous_Min  <= If old cardinality is zero. it means Min can not be changed. isn't it?
 - If previous_Max = -1, it cannot be changed.

[2020-01-30 21:12] rekuku commented on #751
@kbserm @asdimitriadis
I Apply new Nillable condition to BCC
Once Nillable published as checked, then it can not be unchecked.

[2020-01-30 22:06] dubnemo opened #760 "Consider use of OAGIS Table noun for BIE export/ import format"
Create as an array, so multiple tables supporting the BIE can be exported in a  single file, and uploaded to another Score instance.

[2020-01-31 13:53] asdimitriadis commented on #751
Tested.

[2020-01-31 13:53] #751 closed

[2020-02-01 14:21] kbserm commented on #760
Intersting thought Scott. But we do not export the whole table in case of BIE, do we? it would be more applicable when we sync CC's between instances.

[2020-02-01 17:29] dubnemo commented on #760
@kbserm We would not export the whole table.  I imagine it would be multiple SELECTs with appropriate WHEREs.  The main concept is that we need an interchange format between Score instances (Land O'Lakes -> OAGi, etc.), and I don't think we need anything as elaborate as XMI.

Maybe we can use this thread to list the tables, and the related tables with their keys and mock it up.

[2020-02-01 17:59] dubnemo commented on #760
After review we need the BOD for metadata about the exported BIE.

[2020-02-03 19:19] hakjuoh opened #761 "Redirect to a sign-in page when the session invalidated between browser and server."
This could happen when serialVersionUIDs for session objects are changed. So a pre-filter needs in authentication steps, and it could send 401 error to the client.

[2020-02-03 20:06] rekuku commented on #663
- This confirmation message applied.
"Another user is working on the extension. It is in the Candidate state. You can only review the extension. Would you like to open the extension to review?"

- In the case of UEG, 1.3 takes the most recent data from the history to determine if it is the same user's access or not, If it's not the same user, but it's published, then create a new revision.
2.0 alw

[2020-02-05 17:54] asdimitriadis opened #762 "The primitive type cannot be updated once is changed"
The issue is that we cannot set back the primitive type to Primitive once we updated it for instance to "Agency".

[2020-02-05 18:40] hakjuoh commented on #762
@asdimitriadis @rekuku This issue happened that the values of multiple primitive types allowed to store into DB although only one of those must be existed.

<img width="782" alt="Screen Shot 2020-02-05 at 1 12 27 PM" src="https://user-images.githubusercontent.com/16102116/73871761-6c363f00-481c-11ea-91c6-c776884e215c.png">

I fixed it, and in order to support backward compatibility, I put the foll

[2020-02-05 20:46] asdimitriadis commented on #762
Tested. It works now.

[2020-02-05 20:46] #762 closed

[2020-02-06 19:08] asdimitriadis opened #763 "Cannot update a BIE if I enable a BCCP without viewing its details"
The issue is that when I create a BIE, and then enable a node without viewing its details (click on it and view it on the detail pane), I cannot update the BIE. However, if I enable an ancestor node, click on it and view its details then I can update the BIE.

This issue might be related to #762 (although it is fixed) and might be similar to #747 (it was fixed).

[2020-02-06 19:20] rekuku commented on #763
Server has a rule that least one of `Primitive Restriction(Code, Agency, Bdt)` information should be given for #762
But update is_used value without load detail(click that node on tree), will not provide to server `Primitive Restriction` information.
So for this case I remove the exception handling code on server even rule is correct.
May be we separate update API for detail and is_used on tree @h

[2020-02-07 16:15] hakjuoh commented on #707
https://www.nist.gov/services-resources/software/score-standards-life-cycle-management-tool

[2020-02-07 19:22] asdimitriadis commented on #763
Tested. It works.

[2020-02-07 19:22] #763 closed

[2020-02-09 14:54] kbserm commented on #762
@hakjuoh I am wondering what you mean by 'for backward compatibility'?

[2020-02-09 16:10] hakjuoh commented on #762
I’m worried a situation that some users have already updated to 1.3.0 and these wrong data generated in their DB. This bug fix could handle with wrong data.

[2020-02-10 17:45] rekuku commented on #507
@kbserm I put in "(Abstract)" to "Base" in ComponentType, and it check automatically Abstract checkbox.
But It has NOT makes disabled Abstract checkbox, because there's some data that "ComponentType = Base and Abstract = False" exist.
If we makes Abstract checkbox to disabled then these data can not be edited as Abstract = true.

@asdimitriadis Please test this. Thank you.

[2020-02-12 15:16] asdimitriadis opened #764 "The Module searching/filtering field does not work anymore"
The search/filter field "Module" does not work.
Note that you can find this filter in CC page and in the dialog used to append an association to an Extension or to a CC.
An example to reproduce the issue is the following:

1. Visit the CC page
2. Search for "Model\Platform\2_6\Extension\Extensions"
3. In the list you can see more CCs listed, such as the ASCCP "OAGIS10 BODs. OAGIS10 BODs" that belo

[2020-02-12 16:08] kbserm opened #765 "Change the Logo to Score logo"

[2020-02-12 16:10] kbserm opened #766 "Update homepage of the tool"
Michael Figura will give an idea.

[2020-02-12 19:21] hakjuoh commented on #758
@dubnemo How about use 'sticky' attribute on a pagination box?

![NIST_OAGi Score](https://user-images.githubusercontent.com/16102116/74369095-c6964900-4da2-11ea-82de-eb29f9760337.gif)

[2020-02-12 19:33] asdimitriadis commented on #764
Fixed by 006fa47 commit on gateway.
It works. Tested.

[2020-02-12 19:33] #764 closed

[2020-02-12 19:34] #742 closed

[2020-02-12 19:35] #741 closed

[2020-02-21 21:07] rekuku opened #767 "Unsaved changes are disappeared when check Hide unused box."
Unsaved changes are disappear when toggle hide unused button.

[2020-02-21 21:15] kbserm opened #768 "Changes are loss if Hide Unuse is clicked b/f clicking Update"
when I check some nodes in the BIE tree, if I click Hide Unused b/f saving  changes first the changes disappear.

@hakjuoh said he would change the client to issue update request when the Hide Unuse checkbox is clicked.

[2020-02-21 21:16] kbserm opened #769 "Move the Hide Unused check box to the area where it doesn't move with the tree"

[2020-02-25 15:25] dubnemo commented on #758
@hakjuoh @kbserm still too much real estate.  The old 1.1.1.2d was tighter, and Figura is saying the same thing.  The DEN path is too wide.  Owner and Revision can be separate columns.  The path can be removed has is TMI for a list view.  If we really want description, consider hover overs/ pop up.

The same holds true for the DEN search.  TMI.

[2020-03-02 20:50] kbserm commented on #676
same as #658

[2020-03-02 20:50] #676 closed

[2020-03-02 20:52] #500 closed

[2020-03-02 21:00] kbserm commented on #487
only two releases, for testing purpose. And we should assume that data from the prior release is playing nice with the current release.

[2020-03-04 16:33] dubnemo opened #770 "Add Tags keyword to OAS 3.0 template"
Without the keyword, default is shown in editor.swagger.io

![image](https://user-images.githubusercontent.com/32434235/75900936-59a32b80-5e03-11ea-8091-637ab58314ea.png)

Please set this value to the BIE name for now; e.g.,
tags: ["Shipment Status"]

![image](https://user-images.githubusercontent.com/32434235/75901063-9a9b4000-5e03-11ea-9679-f1fc885d0230.png)

[2020-03-06 17:08] hakjuoh opened #771 "Blocking cookie 'SameSite=None' without 'Secure' in Chrome 80"
All requests are blocked in Chrome 80.0.3987.132 if the cookie has 'SameSite=None' property value, but without 'Secure'.

[2020-03-06 17:10] hakjuoh opened #772 "Any BIE can be deleted using sending delete URL"

[2020-03-06 19:23] hakjuoh commented on #771
@asdimitriadis Now Score stores user info in Local Storages instead of Cookies.

[2020-03-06 19:24] hakjuoh commented on #772
@asdimitriadis Only request allows by owners and target BIEs must be in 'Editing' state.

[2020-03-09 15:05] asdimitriadis commented on #771
Tested using Chrome Version 80.0.3987.132 (Official Build) (64-bit).
No warning message is returned. Score works.

[2020-03-09 15:05] #771 closed

[2020-03-09 15:06] asdimitriadis commented on #772
Tested. It is fixed.

[2020-03-09 15:06] #772 closed

[2020-03-09 15:14] rekuku opened #773 "Http 406 error when using email format for login_id."
Email format `login_id` causes 406 error when go into account's detail page.
For now, we using `login_id` for url path. but server can not response that kind of format.

[2020-03-09 16:06] rekuku commented on #773
@asdimitriadis Now it use app_user_id instead of login_id when go into detail page.
Please test this.

[2020-03-09 17:08] asdimitriadis commented on #773
Tested and it works.

[2020-03-09 17:08] #773 closed

[2020-03-09 20:24] kbserm opened #774 "Implement exact search with double quote"
Hakju and Sakis will exchange the locations where they think this should impact.

[2020-03-09 20:25] kbserm commented on #774
@asdimitriadis will update the user guide as well.

[2020-03-10 03:46] hakjuoh commented on #774
@asdimitriadis Here's a list of fields that this issue will apply.

 - BIE
	- Property Term

- Code List
	- Name

- Context Category
	- Name
	- Description

- Context Scheme
	- Name

- Business Context
	- Name

- Core Component
	- DEN
	- Definition
	- Module

[2020-03-11 13:05] dubnemo opened #775 "Bring back Lucene ranked score sort for Searching"
I tried to demonstrate creating a new a BIE for Location yesterday, and in the old version with Lucene, Location component would be first in the list.  I simply could not find it without this sorting approach -- there were 97 pages, and it was somewhere in that list.

Bring Back Lucene -- great title for a new song!!

[2020-03-11 14:40] asdimitriadis commented on #774
Underscore issue:
Could we include the underscore (_) in search fields as well?
Underscore is used in Code Lists and now if our keyword includes underscore then no result is returned.
To reproduce the issue.
1. Visit the Code List Page (Code List -> View/Edit Code List)
2. Enter the keyword oacl_UnitCode in the Name Field.
3. Click search button.

No code list is return.

=========================

[2020-03-11 17:58] asdimitriadis commented on #774
Now, the DEN Field of the second page used to create BIE, namely "Create BIE: Select Top-Level Concept" does not work if I use spaces.
To reproduce the issue, use the term "ASN Reference". No results are displayed.

[2020-03-11 19:31] kbserm opened #776 "Add functionality to generate sample JSON and XML instance from the Example field"

[2020-03-11 20:13] kbserm opened #777 "Developer BCCP editing and revising functionality"
This issue is created as the first stepping stone for issue #658 .

This issue covers editing, revising, and state management of BCCP.

[2020-03-12 01:04] kbserm commented on #775
@dubnemo In a few days we will release a version which you can do exact search. To create BIE for Location; you should enter in double quote "Location. " or "Location. Location".

Lucene has something we couldn't quite understand yet like searching with bom vs. BOM returned different results.

[2020-03-12 01:24] kbserm opened #778 "Developer ACC Editing and Revising"
This issue is created as the second stepping stone for issue #658 .

This issue covers editing, revising, and state management of ACC. It does not include managing associations within the ACC.

[2020-03-12 01:53] kbserm opened #779 "Developer ASCCP Editing and Revising"
This issue is created as the 3rd stepping stone for issue #658 .

This issue covers editing, revising, and state management of ASCCP.

[2020-03-12 01:55] kbserm opened #780 "Developer ACC Association Management"
This issue is created as the 4th stepping stone for issue #658 .

This issue deals with managing associations within the ACC.

[2020-03-12 02:02] kbserm opened #781 "Developer Code List Management"
This issue is created as the 5th stepping stone for issue #658 .

This issue covers editing, revising, and state management of Code List.

[2020-03-12 12:59] #707 closed

[2020-03-12 13:00] #678 closed

[2020-03-12 13:48] dubnemo commented on #775
@kbserm I think that should work.

[2020-03-12 13:48] #775 closed

[2020-03-12 13:50] dubnemo commented on #776
@kbserm this much lower priority than other items.  I demonstrated yesterday that editor.swagger.io can do that for us.  Embedding their libraries to enable this within Score may be the easier option.

[2020-03-12 14:00] dubnemo opened #782 "OAS Expression - remove GUID from generated path"
The BIE GUID is not appropriate as a path may have 1:m references to a schema object for different operations (GET, POST, DELETE, PUT, PATCH):

paths:
  /location/**oagis-id-0389f5287c9047debef204d69af52f4c:**
    summary: ""
    description: ""

Should be:
paths:
  /location
    summary: ""
    description: ""

[2020-03-12 14:11] dubnemo opened #783 "Item selection issue which may effect several pages"
The name of the BIE is appearing in the filename for a noun, but its not appearing for a component.

![image](https://user-images.githubusercontent.com/32434235/76530055-27b44980-6441-11ea-9c44-c14495ac1742.png)

The highlighted yml file was generated off biopharma.oagiscore.net, using Location BIE.

[2020-03-12 14:34] hakjuoh commented on #776
@kbserm I would like to add another column, ‘example’, in ‘xbt’ table, so that could be used if there’s no example value in some BIE properties. To so do, we should move this to 1.4.0 or 2.0.0 by changing DB schema

[2020-03-12 15:25] kbserm commented on #776
@hakjuoh if no value specified, it should be considered empty or nil if it is nillable?

[2020-03-12 15:35] hakjuoh commented on #776
The generated instance must be valid by the generated schema, right? So there’s probably required fields and it might not have an example value by users.

[2020-03-12 16:38] kbserm commented on #776
I think I would blame the user on that. The purpose of this Example instance is to create a sensible data, so the system should not just put in dummy data into the instance. If the generated example instance is invalid, the API should detect that. Generating an instance with random data should be a separate function, if we were to do. Tool like XML Spy already has it.

[2020-03-12 16:39] kbserm commented on #776
@dubnemo does swagger creates one for XML as well? I created this issue after talking with Michael yesterday that generally he would want a sample for XML as well.

[2020-03-12 18:22] kbserm commented on #774
the issue with the code list that @asdimitriadis mentioned would be an issue.

the behaviour of the module is OK at this point.

[2020-03-12 18:36] #705 closed

[2020-03-12 18:56] asdimitriadis commented on #774
All the forenamed issues have been addressed.
Tested.

[2020-03-12 18:56] #774 closed

[2020-03-13 20:12] asdimitriadis opened #784 "Issue when we try to create a context category"
When I try to create a context category, I receive the following:
java.sql.SQLException: Field 'created_by' doesn't have a default value

[2020-03-13 20:28] asdimitriadis commented on #777
The issue is that the "Nillable" and the "Default" value fields are mutually exclusive.

The excepted behavior is that the "Nillable" and the "Default" value fields are not mutually exclusive. (TA1.4 and TA1.5 of TC10.15)

[2020-03-13 20:32] asdimitriadis commented on #777
One more issue is that when we set (click) the "Nillable" field it returns the message that the BCCP was updated. However, if we open the BCCP again this field is unchecked. So it is not stored.

[2020-03-13 23:59] hakjuoh commented on #784
@asdimitriadis I added audit columns like `created_by`, `creation_timestamp`, etc., but missed its processing. Now, it's fixed.

[2020-03-14 03:26] rekuku commented on #777
Now it fixed.
Until now `Nillable` was mutually exclusive with `Default` and `Fixed`.
But now `Nillable` is mutually exclusive only `Fixed` value.
So `Value constraint` is not be disabled even if user check `Nillable` as true.
And in situation of Nillable is true, if user check `Fixed` then `Nillable` will be false.

[2020-03-14 15:35] dubnemo opened #785 "When typeCode, unitCode or other qualifier is selected, "example" keyword should be on content for OAS 3.0.2"
Since there is not way to place Example on 'content' in the UI, and the example must be place under content during the expression.
![image](https://user-images.githubusercontent.com/32434235/76685108-215bd400-65df-11ea-91d1-3b29d66b74e2.png)

Generated, should be under content property:

                                      items:
                                        **example: "12.409"**

[2020-03-15 15:20] kbserm opened #786 "Deprecate is_nillable column of the BCC table."
Add a comment to the is_nillable column that it is deprecated. This was a mistake. XML schema only support nillable in the xsd:element and hence BCCP definition. So we shouldn't expose this column on the UI.

[2020-03-16 15:15] asdimitriadis opened #787 "Cannot expand the BIE tree"
The BIE tree is not expanded.
To reproduce the issue:
1. Create a BIE
2. Try to expand its tree
3. The http response contains nothing

[2020-03-16 15:16] asdimitriadis commented on #777
When we leave the Definition blank the following message is returned:
"Definition is blank.
Are you want to update?"

I suggest we change it to:
"Definition is blank.
Do you want to update?"

[2020-03-16 15:17] asdimitriadis commented on #777
Another issue is that the DEN existing in the BCCP tree (at the left pane of the BCCP page) is not changed.
To reproduce the issue:
1. Create a BCCP
2. Change the "Property Term" Field.
3. The DEN in the BCCP tree is not changed.

One more consequence of this is that in the CC List page all BCCPs are displayed with the DEN set as "Property Term"

[2020-03-16 15:46] asdimitriadis commented on #777
The part "One more consequence of this is that in the CC List page all BCCPs are displayed with the DEN set as "Property Term" is fixed.

[2020-03-16 16:19] rekuku commented on #777
Warning text and tree updates have been fixed.

[2020-03-16 17:24] asdimitriadis commented on #777
Just to keep track of the comments. All the above mentioned are fixed.

[2020-03-16 19:40] kbserm opened #788 "Change the deprecation filter to check box on CC list page"
Multiple check box like the state.

[2020-03-16 19:41] kbserm opened #789 "Change the label from Release to Branch on the CC list page"

[2020-03-16 19:44] kbserm commented on #786
Add comment to the column "This column is deprecated because nillable association (element reference) is not possible in XML schema. However, there may be a good reason to use this column again in the future."

[2020-03-16 19:57] kbserm commented on #776
We could also generate OAS instance that includes Meta Header and Pagination Response.

[2020-03-17 16:31] asdimitriadis commented on #777
We have the following two issues that related to editing a revision of a BCCP.

1. In a new revision of a BCCP , we should not be able to change the Property Term.

2. In a new revision of a BCCP, we should be able to change the Definition Source

2. In a new revision of a BCCP, we should not be able to change the BDT.

[2020-03-17 16:40] dubnemo commented on #602
@kbserm reviewing this one, and comparing to the data mapping specification, the reference to CCTS business term can be interpreted as a thesaurus or lexicon.
The data mapping specification is an extension of that or potentially the set sibling tables we discussed in the face-to-face.

![BusinessTerms_Thesaurus](https://user-images.githubusercontent.com/32434235/76879322-18b80780-6844-11ea-8615-b9

[2020-03-17 18:00] dubnemo opened #790 "Need to expand Score to including data mapping capabilities, typically found in Excel Spreadsheets"
Here is the data model we reviewed at the Face to Face meeting:

![MappingModel](https://user-images.githubusercontent.com/32434235/76886500-e364e700-684e-11ea-8304-fe28ecf2ddfe.png)
I can create the DDL if needed.

[Mapping Specifications.pptx](https://github.com/OAGi/Score/files/4344987/Mapping.Specifications.pptx)
![OAGIS_ToTarget](https://user-images.githubusercontent.com/32434235/76886720-2d4

[2020-03-18 01:01] rekuku commented on #777
Properties can be change by as follows.
Revised BCCP (revision> 1)
- It can NOT be change BDT.
- it can NOT be change PropertyTerm.
- it can be change Deprecate.
- it can NOT be change Nillable if Nillable checked on previous revision.
- it can be change Nillable if Nillable is NOT checked on previous revision.

Brand-new BCCP (revision = 1)
- It can be change BDT.
- it can be change PropertyTerm.

[2020-03-18 14:29] rekuku commented on #789
It has been changed on these pages.
-  CcList page
- Create Bie page

@asdimitriadis Please test this.

[2020-03-18 15:45] dubnemo commented on #776
@kbserm Swagger generates off the schema object.   I wonder if its faster to do this as a post-process, using the editor.

Also note #785 as the .content example child is not working today.

[2020-03-18 17:37] kbserm commented on #777
@rekuku I think you comment above regarding revision > 1 and deprecation is incomplete. Deprecation can only changed from false to true when revision is > 1.

[2020-03-18 17:41] kbserm commented on #776
@hakjuoh @dubnemo  this issue has now been moved to after 2.0. #785 is in 1.3.2 which we should now be able to release shortly.

[2020-03-18 17:42] kbserm commented on #776
I will change 1.3.2 to 1.3.1.1 to indicate a hot fix version.

[2020-03-18 17:58] kbserm commented on #602
related with #790

[2020-03-18 17:59] asdimitriadis commented on #777
The TC document has been updated.

[2020-03-18 21:07] dubnemo commented on #785
Should be (snip):

                                    resultValue:
                                      description: "Array of measure values of a given\
                                        \ properties for a specified test method/\
                                        \ procedure"
                                      type: "array"
                                      items:

[2020-03-19 01:34] kbserm opened #791 "It seems like there is a supplementary component not correctly expressed."
This occurs at least in the schema Object of the Open API.

This has to do with the 'name' supplementary component. An example of this can be found in the ResultValue component. It was generated as "nameName", should be truncated with only "name".

[2020-03-19 09:10] hakjuoh commented on #782
@kbserm The user can select multiple BIEs to generate schemas and there's no way to distinguish between the same name of BIEs.

[2020-03-19 09:27] hakjuoh commented on #783
@dubnemo It probably happened if you chose multiple BIEs for schemas. In this case, the filename would be randomly generated ID like that. The filename of a single BIE selection case is containing ABIE ID as a suffix and there was no such record with `oagis-id-05ba6907b1e041b3a964615bc261690` in DB.

[2020-03-19 09:58] hakjuoh commented on #785
@kbserm This came from a decision what we made through [Fix JSON schema and OAS schema object serialization](https://github.com/OAGi/Score/issues/753) issue. We also may need to move a position of `description` property under the content like
[code]

[2020-03-19 10:04] hakjuoh commented on #791
@kbserm That supplementary component has a same property value, `Name` for both `Property Term` and `Representation Term`. It sounds like we are going to add a sort of a conditional logic that the representation term will be ignored if its value is duplicated with the value of the property term. Correct?

[2020-03-19 13:35] kbserm commented on #791
Yes

[2020-03-19 13:37] kbserm commented on #791
This rule is already in place for the BCCP, isn't it? Need to be applied to SC too.

[2020-03-19 14:14] kbserm commented on #785
@hakjuoh All you need to do is move the "example" keyword to "content" when there is a need for it. Leave description at the same place. Note that this applies to both array and singular cases. It should look like this.

    "resultValue" : {
                                        "description" : "Array of measure values of a given properties for a specified test method/ procedure",

[2020-03-19 14:20] asdimitriadis commented on #777
The last issue I am facing is the one Serm mentioned about deprecation when the revision is greater than 1.
In such case, if “Deprecated” is False, it can be changed to True but not vice versa.

[2020-03-19 14:24] asdimitriadis commented on #778
The issue is related to editing a brand-new ACC (revision =1) and Abstract (abstract checkbox)

If we set the Component Type to Extension or Semantic Group the Abstract should be False and Disabled.
(TA1.2 of TC10.6 "1.2 Abstract can only be true when the Component Type is base or Semantics.")

[2020-03-19 14:33] asdimitriadis commented on #778
One more issue is that if the Component Type is "Base" then the Abstract must be True (the checkbox should be checked and Disabled)

[2020-03-19 14:56] rekuku commented on #777
As @Serm mentioned
revision > 1
 - The deprecated value only allows false -> true.
And TC 10.21 are applied.

@asdimitriadis Please check this.

[2020-03-19 15:16] kbserm commented on #791
@hakjuoh I'm taking it back....let me investigate further.

[2020-03-19 16:08] kbserm commented on #791
We actually have already implemented the truncation rule in the XML schema serialization correctly, i.e., we don't serialize to nameName but just name. The catch is that there is an exception that we hardcoded for the BDTs that are derived from the BinaryObjectType b/c OAGIS happened to have filenameName which is inconsistent with others SCs with Name Representation term.

Truncation rules must ha

[2020-03-19 16:44] hakjuoh commented on #791
@kbserm Here's the rules XML schema generation uses.

If `Representation Term` is `**Text**`, it only uses `Property Term`
Else if `name` is `preferredIndicator`, it would be `preferred` <- This should be removed because `preferred` SC is fixed since OAGIS 10.3.
Else if `Property Term` == `Representation Term`, it only uses `Property Term`
Else if `Representation Term` is `**Identifier**`, it woul

[2020-03-19 16:48] hakjuoh commented on #785
Don't forget `enum` and `default` properties :)

[2020-03-19 19:16] kbserm commented on #791
So we figured out that the truncation should be done only at the token level. Since 'name' in 'filename' is not a separate token, it is not truncated. In other words, because the SC's property term is "Filename", the 'Name' representation term is not truncated. OTOH, if the SC's property term were 'File Name', the 'Name' representation would be truncated. The logic below should work (it should wor

[2020-03-19 20:39] hakjuoh commented on #790
Here's DDLs for MySQL.

[code]

[2020-03-20 03:02] hakjuoh commented on #791
@asdimitriadis Review this issue.

[2020-03-20 14:31] kbserm opened #792 "Documentation about Property Term and Truncation Rule which may result in Future Issue"
- When OAGIS 10.X was imported into Score, there is no reliable pattern to automatically recognize whether the property term should be, e.g., element name minus data type term of BDT or minus object class term of ACC or not, so we just populated property term with the whole element name.
- Property term presents in ASCCP, BCCP and also SC.
- Because currently the property term in ASCCP and BCCP is

[2020-03-20 16:21] kbserm opened #793 "Example is not copied when a BIE is copied."

[2020-03-20 17:04] hakjuoh commented on #785
@kbserm @asdimitriadis `content` might be wrapped by `oneOf` property if it's nillable as below.
[code]

[2020-03-20 21:51] asdimitriadis commented on #793
Tested.

[2020-03-20 21:51] #793 closed

[2020-03-20 21:52] asdimitriadis commented on #791
Tested and it works.

[2020-03-20 21:58] asdimitriadis commented on #785
Tested,

[2020-03-21 00:05] hakjuoh commented on #791
@asdimitriadis @kbserm  I missed a rule to the camel-case that abbreviated words won’t be applied in XML while it will in JSON. For example, ‘List Agency Identifier’ would be ‘listAgencyID’ in XML, but ‘listAgencyId’ in JSON. Please let me know if you have any concern about this.

[2020-03-21 01:10] dubnemo commented on #782
@hakjuoh
The guid is in the $ref to the schema object, so it is not needed in the path.
There can be multiple schema objects per path, so it's currently invalid.
A GET will have a response schema object while a POST could/will have a different schema object.

[2020-03-22 13:01] dubnemo commented on #783
@hakjuoh @kbserm
You are right, there are multiple BIEs in the yml. (Location and WIPStatus)
HOWEVER, when I deselected both Location and WIPStatus BIEs, and hit generate button again (none selected), a new yml was created with both Location and WIPStatus in it.

It appears if I stay on the Express page, and try multiple expressions in sequence deselecting one of the BIE, its as if the checkbox wa

[2020-03-22 13:11] dubnemo commented on #783
Test: 1) select Location on Page 2, Express -- should be OK, 2) navigate to WIPStatus Page 3, select, should have oagis prefix, 3) deselect WIPStatus, navigate to Location, it no longer shows selected but **button is still enabled**.

[2020-03-22 13:29] dubnemo commented on #790
@hakjuoh please hold off for a moment.  We may use different names, initially focusing on bizappl_term, which may solve #602 as well.  However, #602 is a bigger challenge.

I am not clear if we need all the associations to mapping rule as you identify.  These are typically only at Fields.xsd level (bccp), a more specifically a BIE's equivalent.

We will also have more metadata about the bizappl, w

[2020-03-23 14:36] kbserm commented on #782
@dubnemo maybe what @hakjuoh worried is, if the user select multiple BIEs of the same name, it will be difficult to differentiate which one is what. Might it be better to have that GUID there which is deleted by the user at a later stage?

[2020-03-23 14:44] kbserm commented on #791
@hakjuoh @asdimitriadis It is supposed to be 'listAgencyIdentifier' in JSON. The current version oagiscore.org is still generated like that.

@asdimitriadis Please generate schemas from the two version and compare to make sure that only expected differences exist.

[2020-03-23 14:56] dubnemo commented on #782
We have to distinguish current state and future state.  The GUID absolutely makes no sense for path with multiple BIE profiles; e.g., POST, PATCH, GET.  In the future I will be able to reference different profiles before different operations under the same path as shown in the BPMN.  Currently I am manually removing the GUID under path as I do not want that in my publicly facing endpoint.

Plus th

[2020-03-23 19:28] michaelfigura commented on #728
1. Determine Identity Service intended to be used by LM. Land 'O Lakes uses Ping, integrated with AD.
2. Sequence diagram for modifications required in Score code base
3. Research open-source libraries to implement
4. Migration road map
5. Timeline proposed for implementation

[2020-03-23 19:37] asdimitriadis commented on #777
Now, we cannot set the Default value if we have set Fixed value before.
To reproduce it,
1. Set Default value
2. Click update
3. Set Fixed value
4. Click Update
The value is not stored. However, if I set Fixed value again and click update again is stored.

[2020-03-23 22:30] hakjuoh commented on #791
@kbserm @asdimitriadis Please take a look at all cases for both XML and JSON as below.

| Property Term | Representation Term | > | XML | JSON |
| -------------- | --------------------- | --- | ----- | ----- |
| Currency | Code |   | currencyCode | currencyCode |
| MIME | Code |   | mimeCode | mimeCode |
| Character Set | Code |   | characterSetCode | characterSetCode |
| Filename | Name |   | fil

[2020-03-24 15:18] dubnemo commented on #791
@hakjuoh @kbserm @asdimitriadis
These look good to me.  Everyone agree?

[2020-03-24 15:22] dubnemo commented on #770
@kbserm @hakjuoh
Is there a way to add the tags keyword to the build associated to #785?

[2020-03-24 15:52] dubnemo commented on #790
@sfohn please review this Issue.  I am now proposing that we have bizterm separate to support the glossary/ synonym capabilities, **independent** of data mapping specific to B2B and application integration.
@kbserm @hakjuoh

[2020-03-24 16:19] dubnemo commented on #790
I have attributed the bizappl table, and created a new table bizappl_type for an enumerated list showing SaaS, PaaS, Hosted, On-Prem

![image](https://user-images.githubusercontent.com/32434235/77450472-47dcf480-6dc1-11ea-9c24-536b89d4a11f.png)

DDL:

CREATE TABLE bizappl (
    bizappl_id                    INTEGER NOT NULL,
    bizappl_type_id               INTEGER NOT NULL,
    bizappl_vendor_na

[2020-03-24 17:31] dubnemo commented on #790
@hakjuoh @kbserm
This model is not going to work as-is.  We need the definition of source to target bizappl_term(s) as it relates to specific source and target interfaces.
I also need to include B2B mappings, which are often standard-based, implemented by a specific business **partner** (not application).

[2020-03-24 18:28] dubnemo commented on #790
This is my current thinking.
NOTE: an interface can be a profiled BIE!

![MappingModel](https://user-images.githubusercontent.com/32434235/77463154-2e44a880-6dd3-11ea-827c-9d48efb34388.png)

[2020-03-25 18:14] asdimitriadis opened #794 "Derive Code List Page does not work."
When we visit the "Derive Code List" page nothing is displayed (only an empty list).

[2020-03-26 19:00] rekuku commented on #777
@asdimitriadis I fixed it because there was a problem with the mutual exclusion logic.
Please test Fixed and Default values.

[2020-03-26 19:03] rekuku commented on #778
@asdimitriadis Test Case 10.2 and 10.3 were applied.
Please test this.

[2020-03-28 14:44] rekuku commented on #779
@asdimitriadis I applied TC 10.11 to 10.15. Please test this.

[2020-03-30 14:57] asdimitriadis commented on #794
Tested it works.

[2020-03-30 14:57] #794 closed

[2020-03-30 14:58] asdimitriadis commented on #791
Tested and it works.
If everyone agrees with the above-mentioned table, we can close this issue.

[2020-03-30 14:59] asdimitriadis commented on #783
Testes and it works.

[2020-03-30 14:59] #783 closed

[2020-03-30 15:00] asdimitriadis commented on #777
Tested. Everything works.

[2020-03-30 15:06] asdimitriadis commented on #785
Tested again after the commit f416da0520c887f686a059b3d3ca9e513b9b43ed at the gateway.
It works.

[2020-03-30 16:20] kbserm commented on #777
@rekuku @asdimitriadis We need to fix one business rule regarding BCCP. If a fixed value is set in a prior revision, it cannot be changed in a new revision. Because the schema will be backwardly incompatible.

[2020-03-30 16:23] kbserm commented on #791
The table looks fine.

[2020-03-30 16:38] #791 closed

[2020-03-31 17:59] asdimitriadis commented on #778
This issue above-mentioned still exists:
"One more issue is that if the Component Type is "Base" then the Abstract must be True (the checkbox should be checked and Disabled)"

[2020-03-31 18:14] asdimitriadis commented on #778
Also two more issues:

- An exception is returned when we try to update an ACC having left the Namespace Null ("-").
- When we change the Component type from Semantics to something else (e.g., Abstract) and Update it, it returns back to Semantics.

[2020-03-31 18:53] hakjuoh commented on #782
@dubnemo It would be great if you review this issue through [biopharma](http://biopharma.oagiscore.net/) instance that just deployed.

[2020-03-31 18:57] hakjuoh commented on #785
@dubnemo This change is applied on [biopharma](http://biopharma.oagiscore.net/) instance now, so @asdimitriadis will be able to close this issue after your confirm.

[2020-03-31 19:13] hakjuoh commented on #792
@kbserm According to CCTS v3,
[code]
However, many DENs of ASCCPs and BCCPs in OAGIS data have violated that rule such as `Application Area. Application Area`, `Amount. Amount`, so forth by the following rule.
[code]

Can we make any rule for OAGIS to avoid those situations?

[2020-03-31 20:16] dubnemo commented on #785
@hakjuoh GREAT!  I will take a look.  You just made my day!
@kbserm

[2020-03-31 20:22] #785 closed

[2020-03-31 20:22] dubnemo commented on #782
@hakjuoh perfect!  Thank you!
@kbserm

[2020-03-31 20:22] #782 closed

[2020-03-31 22:03] hakjuoh commented on #788
@asdimitriadis Done

[2020-03-31 22:23] hakjuoh commented on #786
@asdimitriadis Now there is no `nillable` checkbox on UI and cannot access `is_nillable` property by APIs.

[2020-04-01 13:23] kbserm commented on #792
@hakjuoh This is a CCS theory. And it could be rat hole theory. I would not spend time on this right now. There are more interesting problems to solve.

[2020-04-01 13:44] sfohn commented on #792
@kbserm, @hakjuoh I'm wondering if this should be treated not as a Score Import issue, but as a Content Authoring issue.  Also, I'm not convinced that this is a pure theoretically issue...the CCL has practically applied these rules, e.g.: Person. Height. Measure, where Height is the property term; Person. Residence. Address, where Residence is the property term.  Recognizing and managing property

[2020-04-01 14:36] kbserm commented on #792
@sfohn You could say that it is import issue or lack of meta-data for import issue. Or it is an authoring issue. Maybe for new content in 10.x we can institute a guidance to avoid this, i.e., we have to agree on  naming rules such like those you proposed a few weeks back, e.g., to have Type in the Object Class, etc. Such rules can then be encoded into the tool to guide users.

Also with those rule

[2020-04-02 16:14] rekuku commented on #778
The OagisComponentType currently supported by our system is as follows.
0 = BASE
1 = SEMANTICS
2 = EXTENSION
3 = SEMANTIC_GROUP
4 = USER_EXTENSION_GROUP
5 = EMBEDDED
6 = OAGIS10Nouns
7 = OAGIS10BODs

And the actions that can be taken in each case are as follows.
<TYPE // Value of Abstract // Enable to change Abstract>
- BASE // True // disable
- SEMANTICS // True or False // enable
- EXTENSION //

[2020-04-02 18:34] asdimitriadis commented on #778
They are all fixed.
The last two issues are:

1. We cannot retract an ACC, namely we cannot move it **from Candidate back to WIP state** (the button is disabled). The expected behavior is that we can move an ACC from Candidate state back to WIP state.
2. When a developer revises an ACC (a CC in general), he/she should take the ownership of that revised ACC. The issue is that in current version the

[2020-04-02 19:55] sfohn commented on #792
@kbserm, I would only consider it to be an import issue...if import could feasibly solve the problem of determining property term, qualifiers, etc...as you describe above, "_...there is no reliable pattern to automatically recognize whether the property term should be..._"; if that is true, then the problem can only be solved by refactoring the content (in Score) where these terms are separately m

[2020-04-02 21:04] rekuku commented on #778
@asdimitriadis I fixed this issues. Please test this.
[code]

[2020-04-02 22:12] asdimitriadis opened #795 "We cannot edit a code list value if we do not change the Code field"
The issue is that if we want to edit a code list value, we should change the "Code" field of the value.
The expected behavior is that we can edit a code list value without having to edit the "Code" field. For instance, we can change only the Definition field.

Also, please change the "Edit" button of the dialog used to edit a code list value to "Save".

[2020-04-02 22:12] asdimitriadis opened #796 "We cannot restrict a value when we create a code list with base creation"
The issue is that when we choose to create a code list based another (Derive Code List), we cannot restrict the values of the base code list.
The issue is related to issue #795

[2020-04-03 04:48] hakjuoh commented on #796
@asdimitriadis Please explain more details about this issue and #795.

[2020-04-03 05:32] hakjuoh commented on #769
@kbserm Now the menu contains 'Hide unused' checkbox is separated with the tree as the following image:

<img width="755" alt="Screen Shot 2020-04-03 at 1 30 19 AM" src="https://user-images.githubusercontent.com/16102116/78327398-c9afe900-754a-11ea-8767-1241c27bb71d.png">

[2020-04-03 05:46] hakjuoh commented on #768
@asdimitriadis You could check this using `release/v1.4.0` branch.

[2020-04-03 06:00] hakjuoh commented on #757
@dubnemo Currently, the details of context scheme/value displayed on a tooltip box in editing mode as

<img width="677" alt="Screen Shot 2020-04-03 at 1 58 11 AM" src="https://user-images.githubusercontent.com/16102116/78329126-dfbfa880-754e-11ea-9c70-5e93c44b9110.png">
<img width="660" alt="Screen Shot 2020-04-03 at 1 58 24 AM" src="https://user-images.githubusercontent.com/16102116/78329133-e189

[2020-04-03 13:10] kbserm commented on #757
@hakjuoh Scott mean this page. The last column, instead of showing Context Value, show the Context Value Meaning or show both. Sometimes context values are very short abbreviation.

![image](https://user-images.githubusercontent.com/7863166/78364103-e9670180-758a-11ea-9485-dda19f4e9aeb.png)

[2020-04-03 13:18] kbserm commented on #795
@hakjuoh just try updating the detail of a code value w/o changing the code value itself. it doesn't work. the system thinks that the user tries to enter a duplicate code value and error out.

[2020-04-03 13:20] kbserm commented on #796
Similar to #795, try to uncheck the Used box in the code value detail dialog. The system thinks the user try to add a duplicate code value.

[2020-04-03 15:58] hakjuoh commented on #796
@asdimitriadis You can check this using `release/v1.4.0` branch.

[2020-04-03 16:00] hakjuoh commented on #795
@asdimitriadis You mean this should be able to edit for 'definition' (probably 'definition source' too) even if it's derived?

[2020-04-03 16:03] asdimitriadis commented on #795
In other words, we cannot edit/update a code list value that we have added if we do not change the "Code" field/property of the value.
To reproduce the issue,
1. Create a code list
2. Create a code list value and add it.
3. Open it again by clicking on its name
3. Edit/change the "Definition" field of value and click on the "Edit" button.

A message is returned saying that the code list value alre

[2020-04-03 17:21] hakjuoh commented on #757
@kbserm @dubnemo Take a look at this.

<img width="986" alt="Screen Shot 2020-04-03 at 1 20 26 PM" src="https://user-images.githubusercontent.com/16102116/78387797-e7fb0080-75ad-11ea-90cb-7b1120c4e6c0.png">

I don't know how much information it needs to be there. I just added schema value meaning under the value.

[2020-04-03 19:52] kbserm commented on #757
Does it display ok if the meaning is long?

[2020-04-03 20:14] hakjuoh commented on #757
<img width="1363" alt="Screen Shot 2020-04-03 at 4 14 06 PM" src="https://user-images.githubusercontent.com/16102116/78401188-2c929600-75c6-11ea-9554-3c43e66bab87.png">

[2020-04-05 13:05] dubnemo commented on #757
@hakjuoh @kbserm
I recommend the description  be hover-over, and just display the context value name.
The principle is that ALL the grids should be **compact**, not show all the detail, but just enough text to want me to click or hover.

I preferred this one:

![image](https://user-images.githubusercontent.com/32434235/78499058-0549df00-7714-11ea-94ce-8ea4b972a971.png)

[2020-04-05 13:12] dubnemo commented on #790
I have an idea how to include code lists to the mapping capabilities.  This is the only area where we use code lists, not as enumerations or restrictions.  I will update the ERD this week.

@hakjuoh @kbserm @sfohn

[2020-04-05 13:18] dubnemo commented on #792
@kbserm @sfohn Are we done with the import now, and focusing on maintaining with Score?  That said, is this clean up issues, which we use a data quality tool to identify entries that need to be cleaned up?

[2020-04-06 15:36] asdimitriadis commented on #796
The issue is partially fixed.
To reproduce the issue,
1. Open a Code List that can be extended.
2. "Click Derive Code List based on this" button.
3. Try to restrict a value.

The value cannot be extended and the message "the value exist" is returned.

So restriction does not work when we are creating a new Code List based on another.
However, restriction works good in the Code Lists that already e

[2020-04-06 15:37] asdimitriadis commented on #795
The issue is partially fixed.
To reproduce the issue,
1. Open a Code List that can be extended.
2. "Click Derive Code List based on this" button.
3. Add a new value.
4. Open this new value in order to edit it.
5. Change its Description.
6. Try to save it by clicking the "Save" button.

The value cannot be changed and the message "the value exist" is returned.

So we cannot edit a value when we are

[2020-04-06 16:44] kbserm opened #797 "Change the label on disk icon to 'Save'"
Replace 'Edit' with 'Save' on this icon.

![image](https://user-images.githubusercontent.com/7863166/78583131-651fb300-7804-11ea-9236-a0e58e5d8c2d.png)

[2020-04-06 17:42] asdimitriadis commented on #797
Fixed and Tested.

[2020-04-06 17:43] asdimitriadis commented on #769
Tested. This button works.

[2020-04-06 17:43] #769 closed

[2020-04-06 18:42] asdimitriadis commented on #768
Tested. It works.
When the user clicks the "Hide unused" checkbox the BIE is automatically updated and so the changes are not lost.

[2020-04-06 18:42] #768 closed

[2020-04-06 20:04] dubnemo commented on #766
It would be great to have a summary of
BIEs
now:
1) number of BIEs in each status,
2) # BIEs by owner,
3) recently worked on (favorites),
future
4) hours spent on each (ha!), and,

Extensions:
now:
5) number of extensions created
6) number extensions created but not enabled (for various reasons)
future:
7) number of extensions submitted to OAGi
8) number of extensions disapproved/approved by OAGi

[2020-04-06 22:36] asdimitriadis commented on #777
The BSCCP should contain a field with the Namespace. The default value of the field should be null.

[2020-04-06 22:37] asdimitriadis commented on #779
The ASCCP should contain Namespace field with the default value of "null"

[2020-04-07 01:48] dubnemo commented on #766
Perhaps barcharts...

[2020-04-07 11:57] kbserm commented on #792
My objective of putting in this issue is for future actions.

[2020-04-07 12:02] kbserm commented on #757
@dubnemo Hovering over cannot show long text well either because it cannot have a scroll bar. Have to enable clicking to bring up a scrollable dialog box or open up the context scheme & corresponding value on another tab.

[2020-04-08 06:14] hakjuoh commented on #728
[code]

[2020-04-08 14:51] hakjuoh opened #798 "Confirmation dialog for all deletion operations"

[2020-04-08 15:55] kbserm opened #799 "Update codes related to end user CC management"
This issue is created as a stepping stone for issue #658 .

[2020-04-08 16:09] kbserm opened #800 "Namespace management"

[2020-04-08 16:10] kbserm opened #801 "Module Management"

[2020-04-08 16:16] kbserm opened #802 "Release management"

[2020-04-09 14:03] kbserm opened #803 "make sure that developer cannot extend BIE"

[2020-04-09 15:49] dubnemo commented on #790
I think its done now.

Here is the diagram for review, and the DDL.

![MappingModel_2020-04-09](https://user-images.githubusercontent.com/32434235/78914284-d3a48100-7a4f-11ea-8a55-ded1f327efc2.png)

[data_mapping.ddl.txt](https://github.com/OAGi/Score/files/4457226/data_mapping.ddl.txt)

[2020-04-11 01:37] dubnemo commented on #757
@kbserm @hakjuoh
I prefer to click.  Compact is better, please. TMI.

[2020-04-12 23:02] rekuku commented on #777
@asdimitriadis Namespace Id field added.

[2020-04-12 23:02] rekuku commented on #779
@asdimitriadis Namespace Id field added.

[2020-04-13 01:11] kbserm commented on #757
@hakjuoh How about either show the Meaning underneath the value like you had earlier or use scroll over dialog with limited space. Shows "......" at the end when the text runs over the space or over a certain length. The user can click to pop up a full text.

[2020-04-13 20:32] kbserm commented on #798
Check
- code list
- context scheme
- business context
- End user core component editing

[2020-04-13 23:12] dubnemo commented on #757
@kbserm, @hakjuoh Is the meaning really needed at this level?  I prefer to click to find more information, as I am looking for compactness.  The context scheme value is more than enough -- it used to show only a **short code** (e.g., 'AB', etc.) when this issue was created and now has expanded scope.

[2020-04-14 19:48] kbserm commented on #766
Core component area.
Have to be able to select the release.
Number of Published ACC, ASCCP, BCCP, Code List, DTs,

For the extension section, it should list the number by state. At this time this will count and display only the User Extension Group ACC.

[2020-04-14 20:00] michaelfigura commented on #766
Updated Requirements:
BIEs by State
1. As a Score user I want to view a color-coded progress bar of the number of my current BIEs in 3 different states so that I have a better understanding of the various BIEs being developed by me.
2. As a Score user I want to view a paginated, color-coded progress bar of the number of all current BIEs by owner in 3 different states so that I have a better unders

[2020-04-15 14:14] kbserm opened #804 "Deleting and restoring BCCP functionality"

[2020-04-15 14:15] kbserm opened #805 "Deleting and restoring ACC functionality"

[2020-04-15 14:16] kbserm opened #806 "Deleting and restoring ASCCP functionality"

[2020-04-15 14:18] asdimitriadis commented on #796
Tested.

[2020-04-15 14:18] #796 closed

[2020-04-15 14:19] asdimitriadis commented on #795
Tested, it works.

[2020-04-15 14:19] #795 closed

[2020-04-15 14:24] asdimitriadis commented on #798
In score 1.3.1.2 we should add this confirmation dialog when we delete:

1. A code list value.
2. A context scheme value.
3. A business context value.

[2020-04-15 14:47] asdimitriadis commented on #778
When we change the "Definition source" we cannot update an ACC. The "Update" button is disabled.

[2020-04-15 16:18] hakjuoh commented on #778
Please test this again with the latest code.

[2020-04-16 19:39] kbserm commented on #778
I want to change two business rules related to Editing a revision (>1) of the ACC. 1) Component Type can't b changed. 2) Abstract can only be change from True to False (except the case of Component Type is base)

[2020-04-16 20:40] kbserm commented on #766
For the extension dashboard
- The number of (UEGACC) extensions by state across the database
- The number of (UEGACC) extensions that has one or more child BIE enabled. If possible, provide the list of the UEGACCs on click and/or the list of top-level BIEs that has such extensions.

[2020-04-16 21:27] rekuku commented on #778
@asdimitriadis
[code]
This have applied. Please test this.

[2020-04-17 20:36] dubnemo opened #807 "Business Context column blank when selecting BIE to copy"
It is not clear which BIE need to copy.  Context would help...

![image](https://user-images.githubusercontent.com/32434235/79611873-266de080-80c1-11ea-9ceb-2351545d8e59.png)

[2020-04-19 23:19] hakjuoh commented on #807
@asdimitriadis Now it looks same as the BIE list page.

<img width="1396" alt="Screen Shot 2020-04-19 at 7 18 40 PM" src="https://user-images.githubusercontent.com/16102116/79702405-ac7d5900-8272-11ea-8855-018f99e8ac8d.png">

[2020-04-20 16:31] dubnemo commented on #807
That works.  I would prefer less real estate, but clearly you are re-using the grid layout.

[2020-04-20 16:56] asdimitriadis commented on #797
This is fixed in Code List.

Can we change the name of button (from Edit to Save) in the Context Scheme and Business Context values as well?

[2020-04-21 09:34] hakjuoh commented on #757
@kbserm @asdimitriadis

If 'meaning' property's value is too long, it shrinks with '...' as below

<img width="571" alt="Screen Shot 2020-04-21 at 5 31 54 AM" src="https://user-images.githubusercontent.com/16102116/79850127-771b5d00-8391-11ea-868d-5aae9711867c.png">

When it also clicks, details of each context display as below
<img width="1396" alt="Screen Shot 2020-04-21 at 5 27 15 AM" src="http

[2020-04-21 09:37] hakjuoh commented on #797
@asdimitriadis It applied.

[2020-04-21 12:21] hakjuoh commented on #798
@asdimitriadis Now, all confirmation dialog looks as below:

<img width="472" alt="Screen Shot 2020-04-21 at 8 20 51 AM" src="https://user-images.githubusercontent.com/16102116/79865366-08e29480-83a9-11ea-81c6-233dfc3aa43f.png">

[2020-04-21 14:32] hakjuoh commented on #807
@dubnemo It needed wider space to express those contents. A simple solution is to reduce a font size. However, it may cause poor visibility. @kbserm What do you think?
If I remember correctly, you’ve been having a trouble with occasional scrolling to look at the pagination box. I’ll think more about that either.

[2020-04-21 14:35] dubnemo opened #808 "Default all *Date Time BCCPs to 'date time' primitive"
It is not clear why we have token as the primitive for these date time BCCPs.  Having them set to 'date time' ahead of time will ensure proper expression, especially in JSON Schema and Open API specification with format keyword.
Currently, I have to manual select each of these BCCPs, and change the primitive to serialize properly.
This could be a SQL UPDATE statement to correct this.

![image](htt

[2020-04-21 14:48] hakjuoh commented on #808
`Open Date Time` type has a multiple primitive types as a union member as below, and `token` used to a default type of that. This is probably going to be OAGIS issue. @kbserm

[code]

[2020-04-21 16:27] dubnemo commented on #808
@hakjuoh @kbserm
Yes, the ask is changing the default for the Open Date Time type.
I am not suggesting changing the underlying list; i.e., memberTypes.

<xsd:complexType name="OpenDateTimeType" id="oagis-id-38a0fb8fb7514a29b0597837faf2518d">
    <xsd:simpleContent>
        <xsd:extension base="DateTimeType">
            <xsd:attribute name="typeCode" **type="xsd:token"** use="optional" id="oagis-i

[2020-04-21 17:53] kbserm commented on #808
I think @dubnemo suggestion is to default this on the BIE side. This should be okay as there is no change to the CC side.

[2020-04-21 18:01] kbserm commented on #808
@hakjuoh I guess the rule is if Data Type Term is Date Time, set the primitive to dateTime upon creation of the BBIE/BBIEP.

[2020-04-21 18:26] hakjuoh commented on #808
There are also `OpenTimeType`whose `Data Type Term` is `Time`, and it has a same issue. Do you want to make those exceptions for this issue without modifying `bdt_pri_restri` records? That would be working like this

[code]

[2020-04-21 18:58] sfohn commented on #808
Just had a couple of questions, 1-under the "Primitive Restriction" section on the UI, there is the term "Based Data Type Name"...should this be "Core Data Type"?   2-It seems from the pull down list under "Primitives", different Business Data Types are offered (for the related Core Data Type)...therefore, is this really "CoreDataType Restriction" (aka "BusinessDataType" specification? ..in which

[2020-04-21 20:49] kbserm commented on #808
@hakjuoh the rules look good to me.

@sfohn @hakjuoh Lable "Based Data Type Name" should be simply "Business Data Type".

@sfohn In pull down under "Primitives Type" , we just generically offer the user the option to assign code list or agency id list for any field. I.e., an implementation may still want to restrict some fields whose data types are not code to a list of value, e.g., employee ident

[2020-04-21 22:35] sfohn commented on #808
@kbserm ...not sure that I understand...as the Date Time. Type is a Core Data Type ... and the selection list presented are all restrictions on the Core Data Type, i.e. Business Data Types.

![Screen Shot](https://user-images.githubusercontent.com/5239917/79919907-4113c280-83fd-11ea-9271-cf84690c8e1a.png)

[2020-04-22 01:02] hakjuoh opened #809 "Add `xsd:date` mapping to any BDT whose CDT is `TimePoint`"
Although `TimePoint` CDT had to have a XML mapping with `xsd:date`, the current data in `1.3.0` didn't have it. Testing model using `schematron` which we have been used missed that to catch, because exported schema files didn't contain CDT primitive restrictions.

[2020-04-22 02:29] hakjuoh commented on #808
@asdimitriadis You can test this issue as follows:

1. Create BIE with 'Purchase Order Header. Purchase Order Header'.
2. Expand the tree.
3. Click any BCCP whose representation term is `Date Time`.

Then a default primitive type must be `date time`.

<img width="1031" alt="Screen Shot 2020-04-21 at 10 22 46 PM" src="https://user-images.githubusercontent.com/16102116/79933673-b17f0b80-841e-11ea-8e

[2020-04-22 13:11] sfohn commented on #808
@hakjuoh , @kbserm ...regarding use of the term "Primitive" in the UI...PrimitiveTypes are: Binary, Boolean, Decimal, String, etc. The values in the selection list are BusinessDataTypes.  It seems to me that we are dealing with CoreDataTypes and BusinessDataTypes...therefore, "DataType Restriction".

From the Data Type Catalogue...Business Data Types are used with BBIE properties. Business Data Ty

[2020-04-22 16:06] kbserm commented on #808
@sfohn I would say pretty much everything on the detail pane of the BBIE/BBIEP node in the BIE tree is about Value Domain restriction. For simplicity, we just group value domain restriction using different primitives and enumeration under the Primitive Restriction. These are just different ways to do Value Domain Restriction that the application currently supports. Not sure if I have answer your q

[2020-04-22 18:23] asdimitriadis opened #810 "Cannot add a Context Scheme value"
The issue is that we cannot add a context scheme value. The "Add" button returns a dialog displaying nothing.

[2020-04-22 19:38] hakjuoh commented on #810
@asdimitriadis I made this during removing bunch of dialogs. Please try it again.

[2020-04-22 20:09] hakjuoh commented on #765
@kbserm @asdimitriadis
<img width="407" alt="Screen Shot 2020-04-22 at 4 08 51 PM" src="https://user-images.githubusercontent.com/16102116/80028746-94484c80-84b3-11ea-8890-533b00b30f95.png">

[2020-04-23 05:18] hakjuoh commented on #766
@kbserm @asdimitriadis

<img width="1194" alt="Screen Shot 2020-04-23 at 1 15 58 AM" src="https://user-images.githubusercontent.com/16102116/80061853-51609600-8500-11ea-877a-b2b946104093.png">

<img width="1154" alt="Screen Shot 2020-04-23 at 1 16 06 AM" src="https://user-images.githubusercontent.com/16102116/80061866-57ef0d80-8500-11ea-816d-f4899e2081f0.png">

[2020-04-23 12:28] asdimitriadis commented on #798
Please add this confirmation dialog when we delete:

A code list value during a Code List creation (Create and Derive a Code List).
A context scheme value during a Context Scheme creation.
A business context value during a Business Context creation.

[2020-04-23 12:29] asdimitriadis opened #811 "The name of the BIE List page is not displayed."
When we visit the BIE List page (BIE -> View/Edit BIE) the name of the page is not displayed.
Instead it is displayed "BIE_LIST.TITLE"

[2020-04-23 12:39] kbserm commented on #766
The label "Number of BIEs by States" should be changed to "Total BIEs by state". So the bar on the bottom is not a progress bar. You cannot find a progress bar component? There should be another similar graph with label "My BIEs by state". Then, there should be a pagination table that looks like this

![image](https://user-images.githubusercontent.com/7863166/80100093-73c4d480-853d-11ea-887f-fa809

[2020-04-23 12:59] asdimitriadis commented on #811
The same issue happens in the following pages:
1. Create BIE
2. Copy BIE
3. Express BIE
4. View Core Components (

[2020-04-23 17:28] hakjuoh commented on #766
@kbserm @dubnemo @michaelfigura Please review the following mockup.

![Score_Dashboard](https://user-images.githubusercontent.com/16102116/80130220-3fb1d980-8566-11ea-9bf3-fc2a9c7c86b4.png)

[2020-04-23 18:52] hakjuoh commented on #766
Yea, it's great catch. I also wonder what 'User extension' means in the dashboard. Since this release has no creating brand new User-defined CCs, it only has user extension groups which is (a kind of) a container generated by a system and its child associations appended by a user.

Anyway, those number are *NOT* user-defined CCs. It's a number of how many original extensions has been tried to expa

[2020-04-23 20:26] hakjuoh commented on #811
@asdimitriadis Would you try disable cache on your browser?

[2020-04-23 21:58] asdimitriadis commented on #810
Fixed now and tested.

[2020-04-23 21:58] #810 closed

[2020-04-23 22:09] asdimitriadis commented on #811
It was a cache issue.
So I am closing it.

[2020-04-23 22:09] #811 closed

[2020-04-23 22:12] asdimitriadis commented on #797
Fixed. Tested.

[2020-04-23 22:12] #797 closed

[2020-04-24 18:43] dubnemo commented on #757
@hakjuoh this looks good.  Thank you.

[2020-04-24 18:45] dubnemo commented on #807
@hakjuoh @kbserm I am good here.  thanks.

[2020-04-24 18:49] dubnemo commented on #765
@kbserm @hakjuoh I think the NIST and OAGi logos should be also displayed, merged.

[2020-04-24 19:01] dubnemo commented on #766
@kbserm  I tend to like the visual controls @hakjuoh selected already.

I prefer MY recent work on top.

How long does it take to load the page?  Do we have tab controls?
My Work - All Work being -- then a smaller number of queries would be executed.

User Extensions coming soon...

[2020-04-25 01:20] hakjuoh commented on #798
@asdimitriadis Done.

[2020-04-27 07:34] hakjuoh commented on #766
@kbserm @asdimitriadis Displayed each content using Tab.

<img width="834" alt="Screen Shot 2020-04-27 at 3 31 59 AM" src="https://user-images.githubusercontent.com/16102116/80345804-b76a5780-8837-11ea-9cb5-d2edaa15bdd2.png">
<img width="831" alt="Screen Shot 2020-04-27 at 3 32 06 AM" src="https://user-images.githubusercontent.com/16102116/80345809-b9341b00-8837-11ea-884a-fd56ed5ccae9.png">

One l

[2020-04-27 07:35] hakjuoh commented on #766
@dubnemo Not too long, less than 1 second on my local.

[2020-04-27 15:35] asdimitriadis opened #812 "Cannot express BIE in Json with "Include Meta Header" selected"
When I tried to express **multiple** BIE with "Include Meta Header" selected nothing happened. No file has been created and downloaded.

[2020-04-27 16:03] kbserm commented on #766
For no record, how about show a blank bar with the word None.

[2020-04-27 16:49] dubnemo commented on #766
I like this approach .  Is this good enough for this specific issue?
@kbserm @hakjuoh ?

[2020-04-27 17:11] kbserm commented on #766
Yes. I think we should be able to close this soon. One thing to change is the label from "My extensions but unused in BIEs" to "My unused extensions in BIEs". @hakju are the columns in tables sortable?

[2020-04-27 19:38] hakjuoh commented on #765
@asdimitriadis NIST/OAGi logo will put on the right side of the menu. `Semantic Refinement WG` text on the image will be cropped and it redirects to [NIST page](https://www.nist.gov/services-resources/software/score-standards-life-cycle-management-tool) when it clicks.

[2020-04-28 02:04] hakjuoh commented on #812
@asdimitriadis Please explain more details to reproduce this issue.

[2020-04-28 02:38] hakjuoh commented on #765
@kbserm @asdimitriadis Please review the following screenshot:

<img width="1041" alt="Screen Shot 2020-04-27 at 10 37 17 PM" src="https://user-images.githubusercontent.com/16102116/80440888-ba1c8980-88d7-11ea-80c8-03ba0903179e.png">

[2020-04-28 03:28] hakjuoh commented on #766
@kbserm @asdimitriadis Apply changes what we talked today's call.
1. Sortable headers
2. `User` filter
3. `None` bar in case of no records on `progress bar`

<img width="1144" alt="Screen Shot 2020-04-27 at 11 26 58 PM" src="https://user-images.githubusercontent.com/16102116/80444042-a294cf00-88de-11ea-81cf-77d2dd6b140d.png">

[2020-04-28 15:58] asdimitriadis commented on #812
The cause of the issue is related to the time that the gateway needs to handle a request and the time that the connection between browser and gateway can remain active. If the former is greater than the latter then the connection between the browser and gateway fails. Having the connection failed, the browser cannot receive the package with the requested schemas from the gateway.

So to reproduce

[2020-04-28 17:24] dubnemo commented on #765
@kbserm  I like the NIST/OAGi logo position.

Can we consider adding 'API' to the text?  'developer of API/ data exchange standards and contextualized implementation guidelines (profiles) based on the...'

[2020-04-28 17:33] dubnemo commented on #803
@kbserm
Are you suggesting that once User Defined Core Components capability is available, we can no longer create an extension?  Quite often I add **existing** BCCPs as an extension.

[2020-04-28 19:14] kbserm commented on #803
@dubnemo No Scott. Only if the user is a Developer user, he cannot extends BIE. Otherwise, we will have to add a flag or rely on other information to indicate whether core components are standard or extension. We want to rely on user role. And it seems make sense that (standard) developer shouldn't create extensions.

[2020-04-28 19:15] kbserm commented on #803
Also if developer published BIEs, e.g., as the Agricultural Standard and an end user needs to customize or extends it, the end user should copy that BIE to create its own variation.

[2020-04-28 19:24] kbserm commented on #765
@dubnemo Hakju copied part of the text from NIST web site. If he copies more it will include API.

 Score is a software tool that supports the development of data exchange standards based on the ISO 15000-5 Core Components standard.  Score provides a repository and functionalities for standards developers to create, publish, and maintain data exchange standards with higher precision, quality, and

[2020-04-28 19:55] dubnemo commented on #765
@kbserm @hakjuoh excellent.  Thanks.

[2020-04-28 22:36] hakjuoh commented on #765
@kbserm @asdimitriadis Updated.

<img width="731" alt="Screen Shot 2020-04-28 at 6 35 21 PM" src="https://user-images.githubusercontent.com/16102116/80544430-0c64b580-897f-11ea-852d-46d4bb7ce287.png">

[2020-04-29 14:14] asdimitriadis opened #813 "Error when removing BCC from Extension"
The issue is that if we remove a BCCP from an extension an error is returned (null pointer extension). However, the BCCP can be removed successfuly.

To reproduce the issue:
1. Create a BIE
2. Extent the BIE locally
3. Append a BCC
4. Remove this BCC

An error is returned. However, the BCCP is removed successfully.

[2020-04-29 15:06] hakjuoh commented on #812
This problem caused during iteratively generating pre-loaded data for each BIE. I've changed it to loading that data for all of them. So the processing time would be faster than before. But, it means that memory resource also would be more consumed. In my opinion, all heavy-workload should put into asynchronous task queue. I'll make an issue for this enhancement.

[2020-04-29 15:07] hakjuoh opened #814 "Moving heavy-workload jobs to asynchronous task queue."
- Copying BIE
- Generating BIE expression

[2020-04-29 16:12] kbserm commented on #809
1. Put the xsd:Date in the Date CDT in cdt_awd_pri_xps_type_map table.
2. find all the bdts that has Date data type term.
3 add the reference to #1 for the bdts in #2 in the bdt_pri_restri table.

[2020-04-29 16:18] hakjuoh commented on #808
#809 MUST be done with this.

[2020-04-29 21:02] hakjuoh commented on #809
@kbserm
I found a fact that `dateTime` has mappings to both `xsd:dateTime` and `xsd:time`. I guess it should be removed from DB if we want to keep consistency that `dateTime` mapped to only `xsd:dateTime`.

So I'll do the following after your rules:

4. Remove xsd:time in the Date Time CDT in cdt_awd_pri_xps_type_map table.
5. Remove also all bdt_pri_restri records which indicate to removed record

[2020-04-29 21:37] hakjuoh commented on #809
@asdimitriadis You test this issue with #808 after executing `misc/mig_1.3.0_to_1.4.0.sql` file on your local 1.3.0 repository.

[2020-04-30 00:16] kbserm commented on #809
We also found that Date Time CDT is also missing the xsd:date in the cdt_awd_pri_xps_type_map table. So we also need to find all BDTs that has Date Time data type term and add reference to them in the the bdt_pri_restri table for those BDTs.

[2020-04-30 03:51] hakjuoh commented on #809
@asdimitriadis

- `Date Time` CDT case
<img width="1042" alt="Screen Shot 2020-04-29 at 11 33 54 PM" src="https://user-images.githubusercontent.com/16102116/80670190-44015980-8a74-11ea-9706-ee0d072dbc8c.png">

- `Date` CDT case
<img width="974" alt="Screen Shot 2020-04-29 at 11 50 30 PM" src="https://user-images.githubusercontent.com/16102116/80670201-48c60d80-8a74-11ea-9349-e142f95e0d61.png">

[2020-05-03 13:07] kbserm opened #815 "End user code list management"

[2020-05-04 14:02] asdimitriadis commented on #757
Tested.

[2020-05-04 14:02] #757 closed

[2020-05-04 14:10] asdimitriadis commented on #798
Tested.

[2020-05-04 14:10] #798 closed

[2020-05-04 14:11] asdimitriadis commented on #807
Tested.

[2020-05-04 14:11] #807 closed

[2020-05-04 14:13] asdimitriadis commented on #813
It works fine. No issue.

[2020-05-04 14:13] #813 closed

[2020-05-04 16:07] dubnemo commented on #778
@asdimitriadis @kbserm @hakjuoh
On the Test Server, I tried creating a new ACC which I wanted to call Worker, selected Person. Details ACC as its base, edited the DEN and definition, tried to Save, but got the dreaded HTTP 500 response code.
Is this just the current state, or should I create a new issue?
I expect to be able to add other components to the new ACC too.

[2020-05-04 16:25] rekuku commented on #778
@dubnemo
I uploaded a version that fixed the problem.
Now you can use it normally.
The test server is in development, so there may be unexpected bugs or malfunctions.
If you leave a comment on a slack or issue, we will quickly check and take action.

[2020-05-04 16:47] dubnemo commented on #778
@rekuku  thank you, that fixed the problem.  I thought your ci/cd process targets test.oagiscore.net.  It should **NOT** target biopharma.oagiscore.net - the latter holds our SME WG BIEs...
@kbserm @hakjuoh

[2020-05-04 16:52] rekuku commented on #778
Yes, it is. @dubnemo
"test" and "biopharma" are operating independently of each other,
Only test.oagiscore.net is used for development purposes.

[2020-05-04 17:30] asdimitriadis commented on #809
Tested.

[2020-05-04 17:30] #809 closed

[2020-05-04 17:31] asdimitriadis commented on #808
Tested.

[2020-05-04 17:31] #808 closed

[2020-05-04 17:35] asdimitriadis commented on #812
I am closing this issue as we have scheduled to enhance the BIE expression by presenting asynchronous execution task queue

[2020-05-04 17:35] #812 closed

[2020-05-04 17:38] asdimitriadis opened #816 "Update the user guide"
The user guide needs to be updated to include:

1. Information about the home page of SCORE
2. The "Component Type" filter located in the Core Component Page under the section "How to Search and Filter for a Core Component".

[2020-05-04 17:38] asdimitriadis commented on #765
The about page is tested.

[2020-05-04 17:38] #765 closed

[2020-05-04 18:53] hakjuoh commented on #816
@kbserm I had to add 'Component Type' filter on CC List page to support redirecting from Dashboard for UEG.

[2020-05-04 19:25] asdimitriadis commented on #816
The "Transfer Ownership" has to be also checked for changes.

[2020-05-04 23:04] kbserm commented on #816
@hakjuoh you can hide it right?

[2020-05-08 13:34] asdimitriadis commented on #816
The user guide was updated.

[2020-05-08 13:34] #816 closed

[2020-05-08 13:35] asdimitriadis commented on #766
Tested and it works.

[2020-05-08 13:35] #766 closed

[2020-05-08 20:05] kbserm opened #817 "Highlight the node the user is on in the BIE tree"
Also put the the full path to the node on the top of the right pane that is not effected by scrolling.

If the path is longer than the width truncate the front so that the end of the path visible.

@dubnemo Do you agree with this?

[2020-05-09 00:03] dubnemo commented on #817
@kbserm lets call this the breadcrumb trail/ path, as it is independent of syntax.

I would start the root very close to the Hide Unused button, as paths could be long.  If too long, similar to many document management systems such as Sharepoint, ellipses (...) may be required depending on character length of the full breadcrumb path.

[2020-05-09 00:03] dubnemo commented on #817
https://www.smashingmagazine.com/2009/03/breadcrumbs-in-web-design-examples-and-best-practices/

[2020-05-11 19:34] kbserm opened #818 "Update BIE code to work with the new Core Component data scheme and logic"

[2020-05-11 20:08] hakjuoh opened #819 "Add 'Find Usages' functionality"

[2020-05-11 20:08] kbserm opened #820 "Add 'Find Usages' function"
The user is able to query about where a particular CC is use.

[2020-05-11 20:08] #819 closed

[2020-05-12 15:45] dubnemo commented on #607
@kbserm @hakjuoh is this now covered under Core Component management?

[2020-05-12 15:52] dubnemo opened #821 "Reuse of previously profiled BIEs"
Need the ability to reference a previously profiled component.

Ideally, while working in a BIE, user can right click on an aggregate component and reference a list of previously **profiled BIE component AND its context** based by its based on id, and associate that BIE at that level to the BIE in scope.

![image](https://user-images.githubusercontent.com/32434235/81715917-62852e80-943e-11ea-885b-

[2020-05-12 20:59] hakjuoh commented on #607
Simple answer is yes. We’ve been planning to use core components in BIEs without a state transition in this milestone.

[2020-05-13 12:47] kbserm opened #822 "Release_ID column in the Module table"
Release_ID column in the Module table will no longer be used and can be removed or deprecated.

[2020-05-13 19:10] dubnemo opened #823 "v1.3.1.2 Extensions not showing up, enabled extensions unchecked"
in BioPharma site, catalog.catalogLine.item.packaging.extension items are not showing up, even though they are expressed in the JSON Schema.

![image](https://user-images.githubusercontent.com/32434235/81849053-94b88e00-951b-11ea-939e-6a9250e98df5.png)

[Catalog-oagis-id-ee565b7daa7e47569145abd4648f223c.zip](https://github.com/OAGi/Score/files/4624149/Catalog-oagis-id-ee565b7daa7e47569145abd4648f2

[2020-05-13 19:12] dubnemo commented on #823
Is there an existing Issue for this?

[2020-05-13 20:03] dubnemo commented on #823
select * from bbie where bbie_id in (13732, 17101);

delete from bbie where bbie_id=17101;

select * from bcc where bcc_id in (4155,138);

[2020-05-14 02:42] kbserm commented on #607
@dubnemo we talked about various options to enable simulation of extensions a couple of weeks ago. I explaned to you the complication and you said let's keep the current approach and delay this issue.

[2020-05-14 02:57] kbserm commented on #607
having said that I did think about this a couple of days ago. One simple solution which I am not sure if it would be acceptable to you is a simulate BIE Extension function would express a schema or API which has all the nodes in the User Extension Group (I.e. , like every node in the extension is enabled). In this way, there is no BIE or BIEs created that could cause issues if the user needs to go

[2020-05-14 19:29] hakjuoh commented on #728
@kbserm Here's a road map to integrate OpenID connect identity providers (IdPs).

* We made an assumption that every account from IdPs has an end-user role.
1. Put configurable properties such as `idp_name`, `idp_url`, etc., on Score web for adding IdPs.
2. Add `app_idp_user` tables on Score repo to distinguish between existing users and IdP users.
3. Disable user management function to modify IdP

[2020-05-14 21:09] dubnemo commented on #602
Based on today's meeting.  We discussed focusing on bbiep as a starting point.

I would consider two BIE tables.

![BusinessTerms](https://user-images.githubusercontent.com/32434235/81986269-20eeb200-95fd-11ea-81bb-6329e88f16d5.png)

[2020-05-14 21:52] kbserm commented on #602
Also ideas from today meeting are:

Logically, relationship from BIE to business term is 1-n but physically it is n-n because Score cannot support BIE reuse yet; and even if Score supports BIE reuse, building higher-level BIE bottom up from reusable BBIEP may not be practical. A work around is ,at the application level, provide a functionality to check for consistent business term assignment to BI

[2020-05-18 14:50] asdimitriadis commented on #780
The issue is that if the Object Class Term of an ACC changes, then the DEN of the ASCCP which depend on it does not change.
The expected behavior is that if the OCT of an ACC changes, then the DEN of the ASCCPs which depend of it should change accordingly.

[2020-05-18 15:27] rekuku commented on #780
@asdimitriadis Thank you.
It has been fixed. please pull the gateway codes.

[2020-05-19 13:44] dubnemo commented on #823
@hakjuoh @kbserm Have you had any time to review the biopharm DB to understand the why this may be happening?  If there are duplicates.   Yesterday, while I was on PTO, one of the projects encountered the same issue on a copied BIE.   The JournalEntry did not show the extension for Distribution, and it kept getting serialized when expressing to JSON Schema or OpenAPI Spec template.

[2020-05-20 20:22] hakjuoh commented on #823
@asdimitriadis Here's how you can reproduce this issue from scratch.

1. Create [Catalog. Catalog] BIE
2. Expand the tree to go to [Catalog > Catalog Line > Item > Package > Extension] and create UEG.
3. Append [Effective Date Time] and [GTINID] BCCPs and make it 'Published'.
<img width="242" alt="Screen Shot 2020-05-20 at 3 53 08 PM" src="https://user-images.githubusercontent.com/16102116/8249170

[2020-05-22 13:47] asdimitriadis opened #824 "Deprecate a BCCP while revising an extension"
The issue is that I cannot deprecate a BCCP association of a previous revision of an extension if I do not make any other change (the Update button is disabled).
To reproduce it:
1. Create a BIE
2. Extend it globally or locally
3. Append a BCCP
4. Publish the extension
5. Open the extension again (create a new revision)
6. Try to deprecate the BCCP of the previous revision (1). If you click "Depre

[2020-05-25 13:42] kbserm commented on #823
@hakjuoh thanks for the detailed documentation. On Tues let's discuss about on Tue. I am wondering, with the 2.0 release, this issue might be simpler or
more complicated. Although end user CCs won't have history records, developer CC's they use do have history records.

[2020-05-26 21:56] kbserm commented on #608
This issue will already be addressed under the release and module management issues #801 and #802 and perhaps more.

[2020-05-26 21:56] #608 closed

[2020-05-27 00:21] kbserm commented on #7
Can Code List and Agency ID List be managed together.

[2020-05-27 00:25] kbserm opened #825 "Revisit the life cycle and ownership of the Context related entities"
As long as an SDO using Score does not publish BIE as a standard, perhaps the capability to tightly control life cycle and ownership of the Context entities is not necessary.

[2020-05-27 00:27] kbserm commented on #502
Code list management is enhanced according to #781. The life cycle of context entity is refactored into #825.

[2020-05-27 00:27] #502 closed

[2020-05-27 00:48] kbserm commented on #658
![image](https://user-images.githubusercontent.com/7863166/82963991-40d58c80-9f92-11ea-805c-6020f14ec9a0.png)

[2020-05-27 00:50] kbserm commented on #556
This issue is moot. The whole CC Management is being redesign.

[2020-05-27 00:50] #556 closed

[2020-05-27 00:52] kbserm commented on #555
This issue is moot as the whole core component management is being redesigned in #658 and other related issues.

[2020-05-27 00:52] #555 closed

[2020-05-27 00:54] kbserm commented on #553
This is already addressed in the new CC Management #658.

[2020-05-27 00:54] #553 closed

[2020-05-27 00:56] kbserm commented on #460
@asdimitriadis I want to use this issue to track that there is a test case to make sure that changes in ordering of associations are properly kept and displayed across ACC revisions.

[2020-05-27 00:58] kbserm commented on #495
duplicate with the new module management issue #801

[2020-05-27 00:58] #495 closed

[2020-05-27 00:59] kbserm commented on #147
duplicate with #465

[2020-05-27 00:59] #147 closed

[2020-05-27 01:13] kbserm commented on #486
The intention to allow association deletion is for refactoring an ACC, i.e., to be able to move an association to its based ACC. I think a way to support this is to add a specific functionality to the BCC and ASCC, called 'Refactor'. @kbserm will think more about this and may be add this to the test case document and may or may not move to 2.x.

[2020-05-27 14:57] kbserm commented on #471
In 2.0 we will validate references. @kbserm will think more about unused CC entities.

[2020-05-27 14:58] kbserm commented on #493
We decided to defer DT editing to a future milestone.

[2020-05-27 15:10] kbserm commented on #100
The whole deprecation logic is included in newly coded CCs logic for release 2.0.

[2020-05-27 15:10] #100 closed

[2020-05-27 15:13] kbserm commented on #710
This business rule applies to any ACC. Leave this open just to make sure that User Extension Group ACC is get tested.

[2020-05-27 15:19] kbserm commented on #540
OAGi is planning to use Score to develop future standards. This issue may not need fixing. I move this to 2.0 just to keep closer watch.

[2020-05-27 18:32] #784 closed

[2020-05-27 18:35] #788 closed

[2020-05-27 18:35] #787 closed

[2020-05-27 18:40] kbserm opened #826 "Fix the User Extension Group CC logic"
Fix the user extension group ACC logic so that there is only one revision of it per the release. Even the CC is revise (amend in the 2.0 term), the application should follow the 2.0 logic to do not create a copy a new revision.

[2020-05-27 18:48] #789 closed

[2020-05-27 18:50] #786 closed

[2020-05-27 19:29] kbserm commented on #471
The following verbiage is added to the test case doc about release validation for the references.

The developer can click on Validate References. The system ensures that those new and revised CCs reference CCs that are included in the release and that are in Candidate or Published state. The following references should be validated 1) ASCCP to ACC, 2) ACC to ASCCP in its ASCC, 3) ACC to BCCP in i

[2020-05-28 00:29] kbserm commented on #486
I think about refactor. Refactor can be performed on an association of an ACC when the ACC has a based ACC. If there are multiple layers of inheritance, the user has to choose which ancestor ACC to refactor the association to. The ACC which the association is refactored to has be revised. There needs to be sophisticated logic to handle several situations associated with that, e.g., when the target

[2020-05-28 18:21] hakjuoh commented on #824
@asdimitriadis Please test it again with the latest commit.

[2020-05-29 14:37] asdimitriadis commented on #824
Fixed and Tested.

[2020-05-29 14:37] #824 closed

[2020-05-29 15:50] kbserm commented on #778
Test Assertions 2 - 4 in TC 10.6 needs to be deleted.

[2020-05-29 17:53] asdimitriadis commented on #823
Tested and it works.

[2020-05-29 17:53] #823 closed

[2020-06-01 13:20] asdimitriadis commented on #778
The issue is that if the "Reusable" field is True in an ASCCP (e.g., Promotion Reference), it cannot be changed when we create a new revision (e.g., revision number 2). The expected behavior is that when the “Reusable” is true in the previous revision, it cannot be changed (it should be checked and disabled).

[2020-06-01 13:25] asdimitriadis opened #827 "Comments in Core Components"
The issue is that a developer (e.g., devx) can add a comment to a CC that is in WIP state and owned by another developer (e.g., devy).
The expected behavior is a developer (e.g., devx) should only be able to view the comments made in a CC that is in WIP state and owned by another developer (e.g., devy) but he cannot make a new comment.

[2020-06-01 13:29] asdimitriadis commented on #778
The issue is that when a developer moves an ASCCP from WIP to draft or from Draft to Candidate and that ASCCP uses an ACC owned by the same developer there is no message asking him if he wants to move the base ACC to Draft or Candidate respectively.

The expected behavior is that if a developer moves an ASCCP from WIP to Draft and he owns its base ACC, which is in WIP state as well, then there sho

[2020-06-01 13:30] asdimitriadis commented on #779
The issue is that when a developer moves an ASCCP from WIP to draft or from Draft to Candidate and that ASCCP uses an ACC owned by the same developer there is no message asking him if he wants to move the base ACC to Draft or Candidate respectively.

The expected behavior is that if a developer moves an ASCCP from WIP to Draft and he owns its base ACC, which is in WIP state as well, then there sho

[2020-06-01 15:43] asdimitriadis commented on #805
The issue is that if a developer restores an ACC that has some associations (e.g., an ASCCP and a BCCP) the associations are not restored.

The expected behavior is that the developer can open an ACC and restore it. One he does this, then all of its associations shall be restored as well.

[2020-06-01 18:30] asdimitriadis commented on #805
The issue is that if a developer opens an ASCCP that uses a deleted ACC there is no flag indicating that the ASCCP is in invalid state.
To reproduce it:
1. Create the ACCw
2. Create the ASCCPw and choose the ACCw.
3. Open the ACCw and delete it.
4. Open the ASCCPw.
There is no flag highlighting that the ASCCP is in invalid state (there is only the flag indicating that the ACCw is deleted).

The ex

[2020-06-01 20:37] kbserm commented on #767
When the user toggle Hide Unused, the client side also sends the update request.

[2020-06-01 20:38] kbserm opened #828 "Remember the shape of the tree when toggling Hide Unused"
Hakju already has this done.

[2020-06-01 20:41] kbserm commented on #767
This has been done a while back. Sakis will check/update the user guide about this.

[2020-06-01 22:55] rekuku commented on #827
It is possible to comment on all CCs in the tree and all state. If we cannot comment in the WIP state, should I make sure that the lower CCs are also not allowed even they are not WIP state?
And should we block editing and deleting comments? @kbserm @asdimitriadis

[2020-06-01 22:58] rekuku commented on #778
@asdimitriadis It fixed please test this.

[2020-06-05 16:14] kbserm commented on #821
Work around for now:

What you are asking for is what known in the realm of Core Component Specification as Document Assembly. This is a more complicated concept. Score has not implemented this yet. We had discussed and had idea about how this may be implemented. It will have to come after version 2.0.

As Jim said you can profile pretty much any OAGIS component. So the workaround at this time is

[2020-06-05 23:55] kbserm opened #829 "Port #892 to 2.0"
#892

[2020-06-06 14:34] asdimitriadis opened #830 "Update User Guide to include that changing user roles is not allowed"
The User Guide should include that a user role cannot be changed. Changing the role of a user (i.e., from end user to developer and vice versa) will impact how the application behaves on existing content the user might have already created.

[2020-06-08 12:33] kbserm commented on #827
@asdimitriadis @rekuku I have been thinking about this. Initially, I thought commenting on CC during WIP could be annoying b/c the owner is still making change. I did think whether this would worth the more complex logic. I don't mind simplifying this to allow comments at any time regardless of state. Let's do that. I will update the Test Case document. @asdimitriadis please go ahead and change th

[2020-06-08 13:46] asdimitriadis commented on #780
The above issue has been fixed and tested.
Below I add some more issues:

1. The issue is that when we remove an association (ASCC or BCC) of an ACC there is no confirmation dialog box. The expected behavior is that when we remove an association of an ACC there must be a confirmation dialog box to confirm our intention.

2. The issue is that we can set a base ACC, whose Component Type is Embedded

[2020-06-08 13:50] asdimitriadis commented on #778
The above issue has been fixed and testing.

One more issue (I put it here but it is generic).
The issue is that when we select a non-working branch in the CC list page the buttons used to create CCs are still displayed. Before we did not display them.
So I suggest (if you agree) to hide or disabled these buttons if a non-working branch is selected.

[2020-06-08 18:24] asdimitriadis commented on #779
Should we also present the "Select ACC to update ASCCP" dialog in full screen as we do with the other dialogs (e.g., "Select ACC to set a base ACC", "Select a CC property to append an association")?

[2020-06-08 20:09] kbserm commented on #818
Hakju is almost done. The extension functionality is left to implement.

[2020-06-09 11:26] kbserm commented on #780
@asdimitriadis for #4 please make sure to test the case where:
a) the based ACC has a group ACC which has a property P, the ACC cannot have the property P
b) same condition as (a), but the user tries to add an assoc to a group ACC containing the property P. this should not be allowed as well.

[2020-06-09 16:23] dubnemo opened #831 "Extensions not enabled after migration, likely from 1.1.1.2d to 1.3"
I had the action item to research JSON Schemas that had extensions enabled,  but no longer enabled after the migration.
Here you can see that Total Amount and Distribution are not enabled, whereas they previously were.  Also note that Distribution cardinality in no longer unbounded.
Before the migration in 1.1.1.2d, Uttaran copied this JournalEntry to a new BIE under a different context.  It may b

[2020-06-09 20:11] dubnemo commented on #831
[dmp2020-06-09b.zip](https://github.com/OAGi/Score/files/4754609/dmp2020-06-09b.zip)

[2020-06-09 20:43] hakjuoh commented on #831
```select `oagi`.`ascc`.`ascc_id`, `oagi`.`ascc`.`current_ascc_id`, `oagi`.`ascc`.`guid`, `oagi`.`ascc`.`to_asccp_id`, `oagi`.`ascc`.`seq_key`, `oagi`.`ascc`.`state` as `raw_state`, `oagi`.`ascc`.`revision_num`, `oagi`.`ascc`.`revision_tracking_num`, `oagi`.`ascc`.`release_id` from `oagi`.`ascc` where `oagi`.`ascc`.`from_acc_id` = 3987;```

[2020-06-09 20:50] hakjuoh commented on #831
We found at least two problems; 1) changing the value of `cardinality max` property to `unbounded` doesn't affect to BIE whose previous `cardinality max` value is `1`, and 2) appending `Accounting Period` ASCCP on `Journal Entry Line Extension` makes an exception with `TooManyRowsException` on server-side.

[2020-06-11 12:44] dubnemo opened #832 "Create Protocol Buffer (Protobuf) expression capabilities to handle large volumes of data"
**Enhancement request for future roadmap discussion**

In some cases, especially when transferring large arrays of data, a more compressed syntax is required.  Our attempt to replicate a spreadsheet of using JournalEntry resulted in a JSON payload over 1M which is arguably too large for reliable HTTP transmission, requiring compression techniques.  It is a way to send data in multiple related bina

[2020-06-11 14:20] kbserm commented on #818
Show BIE DEN, release, state, owner somewhere on the top.

[2020-06-12 00:52] kbserm commented on #777
When selecting a BDT, I would like to have unqualified BDT as the first set of BDT choices.

In other words, I would like the dialog to have a filter for types of BDTs and the filter is defaulted to Unqualified BDT. Please see footnote of TC 10.18 where I said we need to add more types to DT Type column.

The reason for doing this is I would like to semi enforce the developer to use only unqualifi

[2020-06-12 11:20] asdimitriadis commented on #779
The issue is that if we change the ACC used by a ASCCP, the DEN of all other ASCCs which uses the ASCCP are not updated.
To reproduce the issue:
1.       Create ASCCP1 using ACC1.
2.       Create ACC2 and append ASCCP1.
3.       Change Object Class term of ACC1.
4.       Open ACC2, check that ASCC1 DEN has not been updated accordingly.

The expected behavior is that when the ASCCP DEN changes, all

[2020-06-12 15:40] hakjuoh commented on #779
It's fixed now. The following is a result after 'ACC 1' changes 'ACC 1 (Change)'.
<img width="763" alt="Screen Shot 2020-06-12 at 11 38 21 AM" src="https://user-images.githubusercontent.com/16102116/84520355-702e0e00-aca1-11ea-9657-b7d593fc52f5.png">

[2020-06-12 15:58] asdimitriadis commented on #779
Also, the developer should be able cancel the revision. In this case, the system rollbacks the ASCCP to the previous revision. There must be a confirmation dialog box. History of changes can still be kept

[2020-06-12 15:59] asdimitriadis commented on #777
In addition, the developer should be able cancel the revision. In this case, the system rollbacks the BCCP to the previous revision. There must be a confirmation dialog box. History of changes can still be kept

[2020-06-12 16:19] asdimitriadis commented on #779
The issue is that we cannot set the Namespace to "-" value anymore.
The expected behavior is that we can set the Namespace to "-"

[2020-06-12 16:24] asdimitriadis commented on #777
The issue is that we cannot set the Namespace to "-" value anymore.
The expected behavior is that we can set the Namespace to "-"

[2020-06-12 17:50] asdimitriadis commented on #779
One more issue that affects the transition of an ASCCP from WIP->Draft or from Draft to Candidate.

The developer can change the ASCCP state from WIP to Draft. However the issue is that if the ACC used by the ASCCP is in WIP and owned by the same developer, there is no dialog asking the developer if he wants to move the ACC to Draft as well. The same issue exists if the developer moves the ASCCP t

[2020-06-12 18:10] hakjuoh commented on #779
Now it works for both ASCCP and BCCP

[2020-06-12 18:26] hakjuoh commented on #779
@kbserm @asdimitriadis This behavior may need to re-consider. After @rekuku and I discussed about this chain responsibility, we decided that transition state function should affect to only target core component per se to make it simpler. For instance, the user has [... -> ACC 1 -> ASCC 1 -> ASCCP 1 -> ACC 2 -> ASCC 2 -> ASCCP 2 -> ... ] chain of components. If he wants to transit the state of ACC

[2020-06-13 11:23] kbserm commented on #779
let's skip this feature for now. I noted this in test case doc

[2020-06-13 11:28] kbserm commented on #777
FYI, I am changing req related to nmsp. it is required for all CC's.  i also made it not revisable.

[2020-06-13 14:45] hakjuoh commented on #778
It applied.

[2020-06-14 14:08] hakjuoh commented on #658
@kbserm @asdimitriadis

There are two changes:
1) Added 'Open in new tab' menu for each tree node on the left side panel except the root node to go to another CC detail page.
2) Replace with tab controls for each detail on the right side panel to display CC DEN, release, revision #, state, and owner.

<img width="1313" alt="Screen Shot 2020-06-14 at 10 03 08 AM" src="https://user-images.githubuser

[2020-06-15 13:45] asdimitriadis opened #833 "Change mat-icons to buttons for consistency purposes"
According to the last UI changes, the following mat-icons, which are used in previous Score versions, should be buttons now:
1. The "Update" mat-icon in the page where a user changes its password (setting->change password).
2. The "Create Account" mat-icon in the "Group" page.
3. The "Create Account" mat-icon in the "Permission" page.

[2020-06-15 14:01] asdimitriadis opened #834 "Cannot select a Context Category when we create a Business Context Value"
The issue is that when we add a Business Context Value to a Business Context, the mat-select used for choosing a Context Category is not clickable, namely we cannot click it (see the attached screenshot).
I tried it after cleaning the cache and in different browsers (Chrome, Edge, firefox), but the issue remains. Also, in 1.4.0 I was able to click on this mat-selector.
Finally, I created manually

[2020-06-15 14:06] asdimitriadis opened #835 "Cannot update a Context Category"
A context category cannot be updated. To reproduce the issue:
1. Create a context category
2. Visit the "Context Category" page and make some changes.
3. Click "Update" button.

[2020-06-15 14:07] asdimitriadis commented on #830
The User Guide has been updated, the Hide/Unhide already exists in 1.4.0 and it was tested

[2020-06-15 14:07] #830 closed

[2020-06-15 14:08] asdimitriadis commented on #767
The User Guide has been updated, the Hide/Unhide already exists in 1.4.0 and it was tested

[2020-06-15 14:08] #767 closed

[2020-06-15 14:08] hakjuoh commented on #835
@asdimitriadis Could you repeat it with clean data? I couldn't get this.

[2020-06-15 17:16] asdimitriadis commented on #834
Fixed by `e66228b6135a5eb1e0ec601f13f4da1dc38a0de9 `and tested.

[2020-06-15 17:16] #834 closed

[2020-06-15 17:18] asdimitriadis commented on #835
Fixed by `82c41c54923a372191950ff089948852bf88468f` and tested.

[2020-06-15 17:18] #835 closed

[2020-06-15 17:19] asdimitriadis commented on #833
The above mat-icons have been changed to buttons.
I will keep this issue open till I test the whole application.

[2020-06-17 18:58] rekuku commented on #833
@asdimitriadis The Group and Permission are not planned to be applied yet, so now they are hidden.

[2020-06-17 21:26] hakjuoh commented on #777
@kbserm Since we don't have a column to distinguish between unqualified BDTs and qualified BDTs in `dt` table, we have two options; putting new column into the table or hard-coded those in source codes. I'm not sure if other standards have unqualified BDTs. If you think that unqualified BDTs are OAGIS specific DTs, hard-coding would be simple.

[2020-06-17 22:15] asdimitriadis opened #836 "ACC state can follow ASCCP state changes"
The expected behavior is that if a developer moves an ASCCP from WIP to Draft and if he owns the ACC used by the ASCCP and it is in WIP state then there should be a dialog asking him if he wants to move the ACC from WIP to Draft state as well. The same should happen if the developer moves the ASCCP from Draft to Candidate.

__Note_ that this issue is discussed in #779 and according to the TC doc,

[2020-06-18 13:17] kbserm commented on #777
@hakjuoh I am fine with putting that only on the UI for now. We might need to revisit this when there is a BDT management functionality. @asdimitriadis Can you note this in the TC doc where this requirement is.

[2020-06-19 18:03] asdimitriadis opened #837 "Cannot delete a Business Context"
The issue is that we cannot delete a Business Context. To reproduce the issue:
1. Create a Business Context
2. Open this Business Context again
3. Try to delete it. (an error is returned).

Note that if you visit the Business Context page (i.e., the page where all business contexts are listed), select a business context and click on the Discard button, it works (i.e., the selected business context

[2020-06-19 18:31] hakjuoh commented on #837
@asdimitriadis Just made a commit. Please try it again.

[2020-06-22 12:42] asdimitriadis opened #838 "Search function in Business Context page does not work properly"
The issue is that the search function in the business context page does not work like other pages. In particular, multiple words entered into the name search field are not treated as AND, namely the system does not return the Business Contexts that contain both of the multiple words entered. To reproduce the issue:
1. Create the Business Context "Business Context Process"
2. Search using the keywo

[2020-06-22 12:42] asdimitriadis commented on #779
The DEN field is not updated when we change the Property Term field.
To reproduce the issue,
1. Create an ASCCP
2. Change the Property Term field
3. Click the Update button
4. Check the Property Term against the DEN field. DEN field does not reflect the changes.

[2020-06-22 12:51] asdimitriadis commented on #779
This should be changed.
The Namespace is required and cannot be null (it should be one of the available namespaces of the drop down list).

[2020-06-22 12:56] asdimitriadis commented on #778
The above issue is fixed.
One issue is that we should change the Namespace.
The Namespace is required and it should be one of the available Namespaces. (i.e., it cannot be null or "-")

[2020-06-22 15:56] hakjuoh commented on #838
@asdimitriadis Please try this again with the latest commit, 8d85630.

[2020-06-24 12:01] kbserm opened #839 "Typed BIE (Polymorphism)"
Typed BIE allows for specification of BIE variations at a particular descendant node of a top-level BIE.  For example, the user may want to specify a variation of BOM BIE on the BOM node of the ShowBOM top-level BIE. A variation reflects different types of BOM, e.g., manufacturing BOM, engineering BOM.

See more detail at https://oagiscore.atlassian.net/wiki/spaces/SCORE/pages/487391233/Typed+BIE+

[2020-06-25 01:08] kbserm commented on #826
Perhaps should remove end user CC content of old revisions  as well.

[2020-06-25 12:54] kbserm commented on #778
Here is my current thought about OAGIS Extension component type. Developer cannot it create it. I'm leaning toward creating it automatically but the developer can choose to remove it.

[2020-06-26 00:39] kbserm commented on #821
- The top-level ASBIEP selection page should show Business Term and Remark columns.
- Biz_Term, Remark, Context Definition, Owner, Version and Business Contexts from the reused top-level ASBIEP should be shown on the Reused BIE node.
- User should still be able to customize the cardinality and add another (ASBIE) context definition.
- A any descendant ASBIE/ASBIEP/ABIE node of a top-level BIE, the

[2020-06-27 13:22] dubnemo commented on #821
@jwightma Can you have Joshua 'add his requirements for the record'?  We can split off the EBOM, MBOM off to the polymorphic issue.

[2020-06-28 08:57] hakjuoh commented on #822
This issue linked to #801.

[2020-06-28 09:16] hakjuoh commented on #801
@kbserm @rekuku @asdimitriadis

![module_2 0](https://user-images.githubusercontent.com/16102116/85943113-dcdd1580-b8fb-11ea-941c-f122790813e4.png)

The following items are newly added tables.

`module_dir`: This contains directories for the module. It is defined in a self-contained manner (i.e. hierarchy structure). Let say we define a module with '/Model/Nouns/AcknowledgeBOM' path. Then, there a

[2020-06-28 09:23] hakjuoh commented on #822
`owner_user_id` column also may need to be removed if any developer can manipulate it.

[2020-06-29 21:38] joshklm commented on #821
**Profile BIE for CC and Noun portion of BOD, and reuse the profiled entities in profiling other BIEs that incorporate those entities.**

**Core Component Profile Reuse Example:**
•	Application Area
  - Profile Application Area to be suitable for multiple business areas within the enterprise
  - Example: Only enable Sender, Receiver and their subset of fields (e.g. Logical Id, Component Id, Id)

[2020-06-29 21:44] joshklm commented on #839
**BOD Noun Profile Reuse for specific typeCode (aka: TypeCode specific BIE profiling) example:**
•	ProcessBOM, ShowBOM, SyncBOM:
  - Profile the BOM noun once for a specific BOM type. (e.g. EBOM)
  - Profile the BOM noun once again for another specific BOM type. (e.g. MBOM)
  - When profiling ShowBOM, ProcessBOM or SyncBOM (or other BOD types of different Verb),
    * The same BOM noun profile can

[2020-06-30 21:20] kbserm commented on #821
**Test Case 24.1	Reuse a BIE**
BIE reuse allows for top-level BIEs to be reused under another top-level BIE.
Precondition: There are existing top-level BIEs in Production state that reference the same CC as a BIE under another top-level BIE being edited. There are also some other top-level BIEs in Production state that do not reference that same CC.
**Test Assertion:**
1.	For a particular descenda

[2020-07-02 12:52] dubnemo commented on #821
@kbserm @joshklm @hakjuoh
24.1 -> 1.4 - didn't we suggest Remark be displayed? Also, is it easier to use a hover-tip to display Context Definition, Remark that could have  significant amount of text?  We may have 'real estate' challenges with this many fields.
It should be stated that (perhaps 5) that all prior edited context descriptions, cardinality, etc., will be removed when Reusing a top-leve

[2020-07-02 15:40] joshklm commented on #821
24.1 - 1.2. Only ASBIEPs in Production state <-- Is this saying 'Published' state? Not sure Production state and Published state are the same meaning in Score.
24.1 - 2. The end user can reuse developer top-level BIE. <-- Looking at the note at the bottom as well, why is there restriction that developer cannot reuse end user BIEs?

24.2 - 1.1 It shall be a copy of that ASBIEP. <-- Does that mean t

[2020-07-02 19:29] kbserm commented on #821
@dubnemo I added Remark to 24.1 -> 1.4. But actually we talked about showing some details that includes Remark when selecting a top-level BIE for reuse.  I have append to TA (test assertion) before 1.2 as follows "The pop-up dialog for choosing a top-level BIE must include the following details – State, Property Term, Business Term, Owner, Business Context, Remark, Version, Status, and Updated Dat

[2020-07-02 19:57] joshklm commented on #821
@kbserm Regarding 'Note that we can do this differently also', I can see pros and cons in either approaches. Best thing would be to give options for users, but I don't like keep increasing the scope on this. So, until the options are provided for the user to pick, it would make sense to create a copy in WIP state, and let users to do the rest of the work (asynchronously) rather than making it auto

[2020-07-02 20:26] kbserm commented on #821
I think we can do both options.

[2020-07-07 14:48] dubnemo opened #840 "View or report on dashboard to show completeness filling out example, context definition, and future business term assoociation."
A profile is not DONE until all the Examples and Context Definitions are filled out.  In the future, we need all properties to be associated to a business term from our data catalog.
A report on the dashboard, and a user interface with speed completion grid would be helpful to finish the profile.

[2020-07-07 15:09] dubnemo commented on #840
@kbserm  is bbie_sc the only table with example field?  I am trying to construct SQL on our on-prem instance.

The real need is related to the biopharma and future AgGateway site(s).

[2020-07-07 15:19] hakjuoh commented on #840
@dubnemo `bbie` table also has the `example` field.

[2020-07-07 15:23] dubnemo commented on #840
@hakjuoh thank you.
So you know the query that I want to build will provide a listing of all top_level_bie(s) and their DENs, ideally their path into the document, where the example and (context) definition is null   Ideally we would have a % complete on each BIE in the dashboard to indicate to indicate the completeness, and 'quality' of the profiling work.

[2020-07-07 15:41] hakjuoh commented on #840
@dubnemo In terms of the path, there are several strategies for a hierarchical query in MySQL 5.7 due to a lack of [CTE (Common Table Expression)](https://dev.mysql.com/doc/refman/8.0/en/with.html) with `connect by` syntax. We've been working on this issue in 2.0 milestone.
@kbserm Can we upgrade MySQL version to 8.0 to support a recursive query?

[2020-07-08 11:22] kbserm commented on #840
I like this @dubnemo, quality of BIE.

@hakjuoh Upgrade mysql in 2.0, why not.

[2020-07-08 17:53] kbserm commented on #801
@hakjuoh I guess you need module agency_id_list_manifest as well.

[2020-07-13 13:48] asdimitriadis opened #841 "Delete property from an extension"
The issue is that if I append a property to an extension, I cannot delete it. There is no button that I can use.
To reproduce the issue:
1. Login using an end user account
2. Create a BIE
3. Extend it (e.g. locally)
4. Append a BCCP
5. Try to delete this BCCP.

[2020-07-14 01:07] asdimitriadis opened #842 "A developer cannot reuse a BIE"
The issue is that a developer cannot access this function, namely a developer cannot reuse a BIE under a top-level BIE. In Score 1.5.0 an end user can only reuse a BIE.

The expected behavior is that a developer can reuse a BIE as well (not only an end user).

[2020-07-14 01:14] hakjuoh commented on #842
@asdimitriadis Developers cannot reuse BIEs because of a chance of exposing user extension groups to developers as we discussed earlier. Please let me know if I misunderstood about it.

[2020-07-14 01:51] hakjuoh commented on #842
@rekuku
```Developers can reuse only developers' BIEs``` We may need to add a filter of the account role in the BIE fetching API.

[2020-07-14 04:35] asdimitriadis opened #843 "UEG must not be visible to the developers"
The issue is that if an end user extends a BIE, then this extension is visible to a developer.

The expected behavior is that UEGs must not be visible to the developers.

This issue was created according to our last discussion.

[2020-07-14 06:35] rekuku commented on #841
@asdimitriadis It has fixed, so you can see the discard btn on extension tree.
Please test this.

[2020-07-14 18:41] kbserm commented on #799
@dubnemo The end user CC (EUCC) management becomes very complex (as expected). Do you think it is reasonable to put a restriction that once EUCC is in Production state, it can no longer be amended? What this means is if you create a Distribution EUCC
 within a release and perhaps a few other EUCCs used by the Distribution EUCC; once these are in Production state (which is when you can make BIEs ou

[2020-07-14 18:47] kbserm commented on #799
@hakjuoh Another approach is we could impose a simpler restriction, every time a BIE node is expended by the user, the system has to check whether the base CC is in a state other than Production (or Published). If not, the system respond that the BIE cannot be expanded because the underlying CC is not in the appropriate state. In this way, even if there is already existing BIE corresponding to tha

[2020-07-14 20:17] joshklm opened #844 "Schema generated from BIE should include version information for the BIE version from the BIE meta data"
Current SCORE tool has an option to generate XSD with BIE OAGi/SRT Meta Data that creates the following section under root element.

`			<xsd:annotation>
				<xsd:documentation>
					<srt_Version>Version Info</srt_Version>
					<srt_Remark>Remark Info</srt_Remark>
				</xsd:documentation>
			</xsd:annotation>`

But the introduction of this `<xsd:annotation><xsd:documentation><srt_Version>` structu

[2020-07-14 23:10] rekuku commented on #842
@asdimitriadis Developer's BIE is allowed to reuse for developers.
Please check this.

[2020-07-16 13:53] dubnemo commented on #840
@kbserm @hakjuoh
It seems that an in place upgrade is possible from 5.7 to 8.0
https://dev.mysql.com/doc/refman/8.0/en/upgrade-paths.html

[2020-07-16 20:39] dubnemo commented on #844
@joshklm should be leverage the standard metadata as a component that can be serialized by choice,  similar to how we select metaHeader and pagination based on the chosen representation?

[2020-07-16 21:00] dubnemo commented on #844
@joshklm @kbserm I suggest extracting the data from abie.version, abie.remark, abie.definition, abie.last_update_timestamp, abie.status to the new meta component

[2020-07-16 21:23] kbserm commented on #844
Josh suggested having a checkbox next to the Version field of the top-level BIE when it is a BOD. When it is checked, the fix value is set on the Version Identifier node.  What is the best way to recognize that the top-level BIE is BOD? Perhaps, BOD/@releaseID should also be populated with the release number which the BIE is derived from.

What happen if the the Version Identifier is already check

[2020-07-16 21:31] dubnemo commented on #799
@kbserm @hakjuoh
Can you provide a link to the Google document for EUCC?  This seems to indicate the name must be unique, and copy cannot have the same name.  Is that true?  Or am I misreading?
If names don't have to be unique, I don't mind copies of production BIEs with the same name if I can see a remark to know the difference.

The whole concept of EUCC - at least for my uses - were _temporary_

[2020-07-20 14:40] asdimitriadis opened #845 "Min and Max Cardinality cannot be change in a revision of a UEG"
The issue is that we cannot change the Min and Max Cardinality of old associations (ASCCs and BCCs) when we create a new revision of an extension.

An example to reproduce the issue is:
1. Create a BIE
2. Extend it Locally
3. Append an ASCCP
4. Set Min to 3 and Max to 25
5. Publish the extension
6. Create a new extension on the same extension point (i.e., revise the extension)
7. Try to change the

[2020-07-20 14:47] asdimitriadis opened #846 "Min and Max cardinality of an association of an extension are not reflected to the BIE tree"
The issue is that if we set the Min and Max Cardinalities to 0 and unbounded respectively, then they are not disabled in the corresponding node in the BIE tree.

To reproduce the issue:
1. Create a BIE
2. Extend it locally
3. Append an ASCCP (e.g., ASCCP1)
4. Set Min to 0 and Max to unbounded
5. Publish the extension
6. Open the BIE and expand its tree
7. Click on ASCCP1

You can see that you can

[2020-07-20 14:48] asdimitriadis opened #847 "X-Frame-Options HTTP is not set in the Login Page"
The issue is that the X-Frame-Options HTTP response header is not set in the login page of Score.

This issue is a manifestation of the weakness CWE-16, it is described in https://cwe.mitre.org/data/definitions/16.html and can lead to "click-jacking" attacks (also known as "user interface redressing").

In our case a click-jacking allows adversaries to render the login page of Score into their fak

[2020-07-20 14:50] asdimitriadis opened #848 "X-Content-Type-Options HTTP header is not set in the login page"
The issue is that the X-Content-Type-Options HTTP response header is not set in the login page of Score.

This issue is a manifestation of the weakness CWE-16, it is described in https://cwe.mitre.org/data/definitions/16.html and can be lead to "Cross-Site Scripting (XSS) attacks" based on MIME-type confusion.

Although we do not allow uploading files, to harden Score it is recommended to set the

[2020-07-20 15:51] sfohn commented on #844
Hi Serm.

Regarding the last point, "having all OAGIS components containing a version ID field ", it seems that any "type" definition (and property) should have a versionId...as shown in the CCTS model, where each is-a RegistryClass with both a uniqueId and versionId.

Regarding the question, "What is the best way to recognize that the top-level BIE is BOD?", while I think there are other reasons

[2020-07-20 16:44] dubnemo commented on #844
@sfohn @kbserm
The CCTS model was slightly out of sync with ebRIM, but since I was part of both 11179 Part 3 (working with ANSI X3 as the liaison from X12) and ebRIM (explicitly citing 11179), what is stated for versioning at the CC and property level is absolutely correct.

However...
1) we imported the CCs from the OAGIS schemas and did not start with a registry.  Do we just pick a version/ rele

[2020-07-20 16:46] asdimitriadis commented on #842
Tested.

[2020-07-20 16:47] #842 closed

[2020-07-20 16:48] asdimitriadis commented on #841
Tested.

[2020-07-20 16:48] #841 closed

[2020-07-20 17:26] joshklm commented on #844
@sfohn @kbserm
I agree with @dubnemo: "IMHO, the answer is only at the top_level_abie level, since all these components within a BIE are already associated to CC details through Score's associative tables."

[2020-07-20 17:29] sfohn commented on #844
@dubnemo

Regarding the question, "Do we just pick a version/ release of OAGIS and assign to the CC and call it a day?" ...while not reflecting the history, this may be are only option. This will serve as a baseline going forward and means the version are types and properties going forward.  Regarding, information on WHO "submitted" and WHO is "administering"...while this would be nice to have, I'

[2020-07-20 17:29] joshklm commented on #844
@dubnemo: Regarding, ".. leverage a standard meta component (perhaps a new one) that can be serialized by choice, similar to how we select metaHeader and pagination based on the chosen representation?"
 and
".. suggest extracting the data from abie.version, abie.remark, abie.definition, abie.last_update_timestamp, abie.status to the new meta component -- when the ABIE is a top_level_abie." ,
my su

[2020-07-20 17:56] dubnemo commented on #844
@joshklm we would need new properties for certain, and Application Area would then be versioned to include those properties.

The new component would be used for non-BOD BIEs that would mirror Application Area.  A new checkbox [x] would allow this component to be selected during serialization /expression of the BIE in a targeted syntax.

[2020-07-20 18:26] joshklm commented on #844
@dubnemo @kbserm @sfohn Just want to be sure that we all understand where the versionID appears in XML instance for a BOD BIE when the versionID attribute is activated in SCORE. It's not an element or attribute under Application Area.

Having the versionID activated in SCORE tool, the XSD generated from SCORE has the xsd:attribute name="versionID" line added at the top level for the BOD (line 5 be

[2020-07-20 19:58] sfohn commented on #844
@joshklm Yes, agreed; version information is, as they say in ISO 11179, "administrative" data.  Therefore, should be treated separate from ApplicationArea.

[2020-07-21 20:57] asdimitriadis opened #849 "Property Term Filter Field does not exist in the reuse BIE dialog"
The issue is that the dialog where we can select a BIE to reuse it does not include the "Property Term" search field.

The expected behavior is that this dialog should include a "Property Term" search field.

[2020-07-21 22:16] asdimitriadis opened #850 "The Context Definition of the ASBIE belonging to the reusing top-level BIE cannot be changed"
The issue is that the Context Definition of the ASBIE that belongs to the reusing top-level BIE cannot be changed.

The expected behavior is that the the Context Definition of the ASBIE that belongs to the reusing top-level BIE **can be** changed.

[2020-07-22 15:47] asdimitriadis opened #851 "NullPointerException when viewing the nodes of a reused BIE"
The issue is that if I reuse a BIE **which I have not expanded a node of it before I reuse it** , I am getting a NullPointerException when I try to expand this node.
To put is simple, I think that If I want to view all the nodes of a reused BIE, I have to expand its whole tree before reusing it.

One simple example to reproduce the issue is:
1. Login as a developer
2. Create the BIE "Resource Code

[2020-07-22 16:11] rekuku commented on #850
<img width="1431" alt="Screen Shot 2020-07-22 at 12 07 42 PM" src="https://user-images.githubusercontent.com/10194354/88200311-fe3bd380-cc13-11ea-9a56-2de1fed10a91.png">

I was added a "context definition" field for ASBIE.

@asdimitriadis Please check this.

[2020-07-22 16:17] rekuku commented on #849
@asdimitriadis
reusable BIE list always has the same property term as the ASBIEP of choice. Therefore, in the list, nodes with different information but always the same ASCCP node's property terms are displayed.
Therefore, there is no need to search for Property Term.
<img width="1395" alt="Screen Shot 2020-07-22 at 12 14 37 PM" src="https://user-images.githubusercontent.com/10194354/88201343-545d

[2020-07-22 18:16] rekuku commented on #845
@asdimitriadis It fixed.
Please test this.

[2020-07-22 18:38] rekuku commented on #846
@asdimitriadis
As far as I know,
CC's cardinalities are can be wider ( e.g. 5 and 10 can be 4 and 11 ).
BIE's cardinalities are can be change to narrower ( e.g 5 and 10 can be 6 and 9 ).
So the case what you mentioned ( CC 0 and -1 ) is  can be change to any values.
Isn't it right?

[2020-07-22 19:13] asdimitriadis commented on #849
We have this Test Assertion "The pop-up dialog for choosing a top-level BIE must include the following details – State, Property Term, Business Term, Owner, Business Context, Remark, Version, Status, and Updated Date Time (Release is NOT needed, they must be in the same release as the reuse-target anyway). Filters shall be available for these columns."

However, there is no point for filtering BOM

[2020-07-22 19:57] asdimitriadis commented on #845
Tested and it works.

[2020-07-22 19:57] #845 closed

[2020-07-22 20:00] asdimitriadis commented on #846
Yes it works good.

[2020-07-22 20:00] #846 closed

[2020-07-23 16:25] asdimitriadis commented on #850
Tested. It works.

[2020-07-23 16:25] #850 closed

[2020-07-23 17:46] rekuku commented on #843
@asdimitriadis Now developer can not see the nodes that extended by end-users.
Please check this.

[2020-07-23 17:50] rekuku commented on #851
@asdimitriadis Now it fixed.
Please check this.

[2020-07-23 21:29] asdimitriadis commented on #843
Tested and it works.

[2020-07-23 21:29] #843 closed

[2020-07-23 21:40] kbserm commented on #799
@dubnemo Yes, the EUCC will be important if OAGIS still don't have CI/CD or even if there is the company does not want to participate in CI/CD. E.g., Oracle E-Biz stuck with OAGIS 7.0 for a long long time. I could imagine companies like LM don't participate in CI/CD with OAGi either.

Now back to the specific question. Generally, Score can allow EUCC to be copied with the same name. Same name is f

[2020-07-24 00:15] hakjuoh commented on #832
One drawback protobuf has is that it does not support semantic rules for values such as facets. In order to bring this feature, we may need to adapt third-party plugins like [protoc-gen-validate](https://github.com/envoyproxy/protoc-gen-validate).

[2020-07-24 11:44] kbserm commented on #821
@rekuku new entries in OAGIS Terminology should be needed for new menu items and some new labels on UI related to this functionality. Could you propose OAGIS terminology for those based on existing ones?

[2020-07-24 15:47] asdimitriadis opened #852 "Remove unnecessary tables from developer's home page"
The tables with the red cross of the attached screenshot should be removed from the homepage of a **developer** user since developers cannot extend a BIE.

![screenext](https://user-images.githubusercontent.com/37205288/88409755-61a83b80-cda3-11ea-8669-4bb51e265964.jpg)

[2020-07-24 16:22] rekuku commented on #852
@asdimitriadis It has applied. Please test this.

[2020-07-24 23:26] rekuku commented on #851
@asdimitriadis I was add another exception handling code for BBIE_SC.
Please check this.

[2020-07-26 14:36] dubnemo commented on #832
@hakjuoh it is not clear from reading the semantic rule plug-in you referenced, whether the semantic rule capability is truly needed for serialization of the protobuf definition, or during parsing of protobuf 'instance'.  Is there a way to serialize these semantic rules outside the .proto file?

[2020-07-26 15:19] hakjuoh commented on #832
@dubnemo @kbserm As far as I know, there is no way to embed any semantic rule in the protobuf definition. Thus, yes it does if we want to bring it up to the definition. But it is, of course, not "truly" needed as we did for the OpenAPI serialization in Score (e.g. mapping `xsd:gYearMonth` to `type:string` without using a pattern restriction.)
Another concern is to whether define the [services](htt

[2020-07-27 13:54] asdimitriadis opened #853 "Data truncation exception when extending a BIE"
The issue is that when the Property term of a BIE is too long, a data truncation exception is returned.

To reproduce the issue:
1. Create a BIE using the ASCCP "Acknowledge Hazardous Material Shipment Document. Acknowledge Hazardous Material Shipment Document"
2. Open the BIE
3. Expand "Acknowledge Hazardous Material Shipment Document"
4. Expand "Data Area"
5. Expand "Hazardous Material Shipment

[2020-07-27 13:54] asdimitriadis opened #854 "Context Definition is missing when we make BIE reusable"
The issue is that when we make a BIE reusable the value of the context definition is missing.

To reproduce the issue:
1. Create a BIE
2. Enable an ASBIE node of it and set its context definition field
3. Make this node reusable
4. Open the BIE list page and click to view this reusable BIE
5. The context definition is null

[2020-07-27 13:55] asdimitriadis opened #855 "Cannot make a BIE reusable if that BIE reuses another BIE"
The issue is that when an ASBIE node of a BIE contains a node that reuses a BIE, it cannot be made reusable.

To reproduce the issue:
1.Create the BIE "Resource Codes. Sequenced Codes"
2.Make some changes
3.Publish it
4.Create the BIE "Change Acknowledge Project Accounting. Change Acknowledge Project Accounting"
5.Expand its tree (Change Acknowledge Project Accounting/Data Area/Project Accounting)

[2020-07-27 14:02] asdimitriadis commented on #851
Tested. It works.

[2020-07-27 14:02] #851 closed

[2020-07-27 14:03] asdimitriadis commented on #852
Tested. The forenamed tables have been removed when a developer is logged in.

[2020-07-27 14:03] #852 closed

[2020-07-27 16:38] rekuku commented on #853
@asdimitriadis It has fixed,
As you mentioned, there are ACCs that has over 60 object_class_term of length.
It was a problem when making ASCCP with this ACC.
Now i gave 100 length to ASCCP.property_term that the same size as ACC.
Please test this after reset your database with mig_1.4.0_to_1.5.0.sql or oagi_1.5.0.sql in gateway project.

[2020-07-27 16:47] rekuku commented on #854
As we discussed last,
A context definition that mid of BIE belongs to `ASBIE`.
The created reusable BIE does not get the context definition from origin, but has its own `ASBIEP` context definition.
So, the created reusable BIE only has `Biz Term` and `Remark`.
It looks working correctly.
@asdimitriadis

[2020-07-27 18:08] kbserm commented on #818
I have thought about @hakjuoh comment that the BIE state names - WIP, QA, and Production - are not suitable for Developer. While I agree, I would leave them like that for now for the following reasons 1) the use case for Developer user to publish BIEs (as standard) is not clear. 2) It is not a matter of just name. It is the whole process. In the large scheme, this is like asking whether developer

[2020-07-27 18:48] kbserm commented on #658
We need additional business rule regarding the Extension core component type. One option is to have a function that automatically generate the Extension component for a given ACC. Additionally, during the release process, there shall be a business rule to check whether all the new ACCs that is not abstract have appropriate Extension ASCC, ASCCP, and ACC and give a warning if it is not the case.

[2020-07-27 23:38] hakjuoh commented on #818
@kbserm Both developers and end-users share 99% of same codes for now

[2020-07-28 17:47] asdimitriadis commented on #854
The created reusable BIE does not get the context definition from origin, but has its own ASBIEP context definition.

[2020-07-28 17:47] #854 closed

[2020-07-28 17:48] asdimitriadis commented on #849
As you correctly mentioned there is no need to include such filtering field.

[2020-07-28 17:48] #849 closed

[2020-07-28 21:35] asdimitriadis commented on #853
Tested. It works.

[2020-07-28 21:35] #853 closed

[2020-07-28 21:58] rekuku commented on #855
@asdimitriadis It has fixed. Please check this.

[2020-07-29 12:17] asdimitriadis opened #856 "Cannot enable a BIE node if I do not enable its parent first."
The issue is that if I enable a BIE node before enabling its parent node and click update the node still remains unused.

To reproduce the issue:
1. Create the BIE "Show Quote. Show Quote"
2. Click on the node Show Quote/Application Area/Scenario Identifier/Scheme Identifier
3. Click on the "Used" checkbox
3. Click Update
4. Open the BIE again
5. Go to this node. It remains unchecked/unused while

[2020-07-29 13:28] asdimitriadis commented on #855
Tested. It works.
Make a BIE reusable and Copy a BIE functions have been tested since they were affected by this issue. They both work good.

[2020-07-29 13:28] #855 closed

[2020-07-29 15:02] rekuku commented on #856
@asdimitriadis This bug only occurred on the bbieSc node.
It fixed and please check this.

[2020-07-29 18:24] asdimitriadis commented on #856
Tested. It works.

[2020-07-29 18:24] #856 closed

[2020-07-31 20:49] hakjuoh opened #857 "Cannot expand ‘UOM Code’ in ‘UOM Package’"
![5AD65D72-F36D-4BDD-AB1D-495007BFD545](https://user-images.githubusercontent.com/16102116/89076109-b7ee1f00-d34d-11ea-8038-8b4d1c17e8ff.jpeg)

[2020-08-03 15:32] kbserm opened #858 "Routinely executed code to clean up potentially unfinished BIE content deletion during reuse"
In BIE reuse (#821), replaced BIE content needs to be deleted. However, for quick user response, the application does not put the deletion and replacement into the same DB transaction. The application replaces with the reused BIE first and delete existing BIE content later. This is because if BIE content that needs to be deleted may be sizable, the application has to traverse the BIE to gather all

[2020-08-03 19:13] kbserm commented on #826
Decided not to do it so that there is no unnecessary regression. Old revision needs to be kept for at least during the life of the new revision to ensure backward compatibility. In 2.0, the old revision of EUCC is kept in the separate history table.

[2020-08-03 19:13] #826 closed

[2020-08-03 19:27] #821 closed

[2020-08-03 19:32] asdimitriadis commented on #848
This header is not set for the following pages as well:
1. http://localhost:4200/context_management/business_context
2. http://localhost:4200/context_management/business_context/create

[2020-08-03 19:32] asdimitriadis commented on #847
This header is not set for the following pages as well:
1. http://localhost:4200/context_management/business_context
2. http://localhost:4200/context_management/business_context/create

[2020-08-03 20:11] kbserm opened #859 "BIE Reuse for Score 2.0"
This is to port code for #821 to 2.0

[2020-08-04 00:00] kbserm opened #860 "Code List Import in Context Scheme"
In 1.x, code list import function in the Context Scheme looks like it is linked to the context scheme, while in fact code list content is copied for the most part. The only exception is context scheme table maintains a foreign key to the code list; and that is how the code list name is displayed on the Context Scheme UI.

In 2.0, we should make it clear that there is no intention for to link them.

[2020-08-04 16:12] hakjuoh opened #861 "Display flickering problem in 'Remember Me'."
It has happened when the client session in cookies does not match to the server's. During #728, we will be able to bring JWT-style handling on the client for solving this.

[2020-08-05 13:46] kbserm commented on #658
New detail related to Extension components has been added to the Test Case document.

The menu Component should be changed back to Core Component.

[2020-08-05 14:09] kbserm commented on #802
This occurred after creating a release draft.

![image](https://user-images.githubusercontent.com/7863166/89422799-c6e52080-d703-11ea-9541-e2b44dd21573.png)

[2020-08-05 14:49] kbserm commented on #805
ACC already published but still has a Delete menu item.

![image](https://user-images.githubusercontent.com/7863166/89427585-622cc480-d709-11ea-9231-ef6d12e31d47.png)

[2020-08-05 19:55] dubnemo commented on #860
@kbserm we should create a REST API using the Code List component to POST, PATCH and GET the code list entries.

[2020-08-05 20:00] dubnemo commented on #857
@hakjuoh
Here is the zipped dump of our DB:
[oagi_LOL_2020-08-05.zip](https://github.com/OAGi/Score/files/5030905/oagi_LOL_2020-08-05.zip)

[2020-08-05 21:08] smorgan19 commented on #728
Summary of questions regarding existing accounts.

How does your modifications effect existing user accounts that are not in the ping system.  An example is the OAGI account, which wouldn’t be in the ping system, but my employee username would be in ping.  The next question is what happens to the existing accounts, so initially most accounts were registered with the users respective username/emplo

[2020-08-06 13:46] kbserm commented on #780
@rekuku the pop-up dialog for selecting a bccp or asccp, when appending property, should allow the user to click on the bccp or asccp to open its detail in the new tab.

[2020-08-06 14:42] dubnemo opened #862 "Create OpenAPI 3.x persistence layer and UI to support API Specification Management"
Leverage the attached DDL to create tables that provide OpenAPI 3.x persistence layer to support API Specification Management.
This may need to be adjusted as it was generated using http://www.sqlines.com/online.

Here is the detail of the ERD:
https://oagiscore.atlassian.net/wiki/spaces/AD/pages/229998611/Entity+Relationship+Model+for+OpenAPI+Specification

Wireframes are here.
Top Level:
https:/

[2020-08-06 14:43] dubnemo commented on #862
MySQL DDL
[oas_mysql.zip](https://github.com/OAGi/Score/files/5035567/oas_mysql.zip)

[2020-08-06 14:58] kbserm commented on #658
Make sure the terminology related to content removal is use properly on the menu items.

* Score terminology related to content removal. Discard vs. Remove vs. Delete
- Discard = the content is removed permanently, there is no trace or record about the removal and the removed content.
- Remove = the content is removed from the entity table, but there is a trace or record about the removal and the

[2020-08-06 17:05] hakjuoh commented on #862
@dubnemo @kbserm This file contains the data model of MySQLWorkbench and MySQL DDL manually ported from Oracle DDL
[oas_mysql.zip](https://github.com/OAGi/Score/files/5036520/oas_mysql.zip)

I made some changes for the naming convention using "snake_case". Here's differences:

- Tables

`oas_externalDoc` -> `oas_external_doc`
`oas_externalDoc_doc` -> `oas_external_doc_doc`
`oas_mediatype` -> `oas_

[2020-08-06 18:45] dubnemo commented on #862
@hakjuoh
Yes, the table name change makes sense.
I will find time to update my ERD for the sake of Confluence sync.
@kbserm

[2020-08-07 23:28] kbserm commented on #778
There is no option to remove based ACC. In addition, normally ACC node only shows Object Class Term. But after I set based ACC, the whole DEN is shown.

![image](https://user-images.githubusercontent.com/7863166/89696026-15511580-d8e4-11ea-89f2-266117383051.png)

[2020-08-07 23:33] kbserm commented on #778
It looks deleted CCs (seem to affect all types of CCs) do not show up on the CC list, unless I chose the Deleted filter.

[2020-08-08 11:25] kbserm commented on #728
@smorgan19 First, let me say that the assumption is LM would only want selective users to be accessible to Score. So we don't make a self-sign-up functionality.

As for the existing user accounts, the Score admin should be able to turn an existing account into a Ping account. The user ID would match the Ping account.

[2020-08-08 12:13] kbserm commented on #780
Append always means "add to the end/last". So menu items "Append Property Before" and "Append Property at First" do not make sense. They should be "Insert Property Before" and "Insert Property at First". "Append Property After" is also iffy, "Insert Property After" reads better. "Append Property at Last" is okay.

[2020-08-08 12:23] kbserm opened #863 "Change the name of menu items related to property appending"
Append always means "add to the end/last". So menu items "Append Property Before" and "Append Property at First" do not make sense. They should be "Insert Property Before" and "Insert Property at First". "Append Property After" is also iffy, "Insert Property After" reads better. "Append Property at Last" is okay.

[2020-08-08 12:53] kbserm commented on #844
To be implemented as shown on the slide.
[VersionID Score Issue 844.pptx](https://github.com/OAGi/Score/files/5045260/VersionID.Score.Issue.844.pptx)

[2020-08-08 13:50] kbserm opened #864 "The ability to flag the top level CC node when there are some descendant CC nodes in deleted state."
This has been documented in test case doc but the implementation is postpone.

[2020-08-08 13:54] kbserm commented on #658
It looks like the ability to flag higher level entity when lower level entity is deleted is not there yet. We can do this in the later release b/c the Release process is also taking care of this as deleted CCs cannot be included in the release draft. This function can be deferred to future version. An issue has been filed #864.

[2020-08-10 12:32] dubnemo opened #865 "v1.5 HTTP 500 error extending Shipped Item Instance with Results. Results component"
@hakjuoh @kbserm @rekuku @asdimitriadis
This occurred yesterday in biopharma site.  I tried several times to append;, repeatable.

![Trying To Append Results](https://user-images.githubusercontent.com/32434235/89782610-421b4d80-dadb-11ea-80cb-813472f786a0.png)

[2020-08-10 13:52] asdimitriadis opened #866 "The search field "Component Type" existing in the CC List page does not work"
The issue is that the search field "Component Type" existing in the CC List page does not work. Whatever choice I make I get the same results.

[2020-08-10 14:27] asdimitriadis commented on #778
This issue happens again.

[2020-08-10 14:30] asdimitriadis commented on #778
Another issue is that the base ACC **cannot** be a Group, User Extension Group, Embedded.
One example to reproduce the issue is:
1. Create an ACC
2. Set Base ACC the "Any Structured Content. Details" or the "Ledger Amount Group. Details"

[2020-08-10 14:35] asdimitriadis commented on #778
You can remove the base ACC using this button,

![bbase](https://user-images.githubusercontent.com/37205288/89794523-2a50c300-daf5-11ea-971d-ef0564e4fff1.jpg)

[2020-08-10 15:20] asdimitriadis commented on #778
The issue is that we can set a base ACC that contains an ASCCP or a BCCP with the same property term as that already exists in the ACC (property uniqueness)

An example to reproduce the issue is:
1. Create the ACCbase
2. Append the ASCCP "Account Identifiers"
3. Create the ACC1
4. Append the ASCCP "Account Identifiers"
5. Set as base ACC the ACCbase

One question that is arise is what happens if t

[2020-08-10 18:07] hakjuoh commented on #865
@dubnemo We found that the migration script did not contain removing orphan records. So we updated it. Please try what you were doing last week again and let us know if you encounter the problem again.

[2020-08-10 18:19] hakjuoh commented on #866
We made that as an “OR” condition, not an “AND” condition with component types. So you can see differences when you select only “ACC” type.

[2020-08-10 18:25] hakjuoh commented on #778
@kbserm @asdimitriadis As we know, this one probably relates to the synchoronous/asynchronous validation as we did in release management. I have a plan to upgrade the database to MySQL 8 to get provided CTE feature which allows hierarchical queries that may help to traverse CC trees.

[2020-08-10 18:39] dubnemo commented on #865
@hakjuoh that worked.  I was able to add the Results. Results extension.

[2020-08-10 19:00] #865 closed

[2020-08-11 12:39] smorgan19 commented on #728
@kbserm what is going to happen to the non-sso accounts?  Are they going to be able to change their username to match the SSO username within score?  For those that do not want to change their username or use score since they have a non-sso account username, I am assuming would still be able to use the standard login.

[2020-08-11 17:48] kbserm commented on #728
@smorgan19 yes, username update should be allowed, so that any account including existing, non-sso account can be updated.

[2020-08-11 17:56] kbserm commented on #778
@hakjuoh let's plan to implement this in CC validation, even with hierarchical query the validation will be faster which is good.

As for @asdimitriadis second question, all these will be reported in after the validation.

[2020-08-11 20:17] kbserm opened #867 "The ability to flag higher level entity when it contains at least one descendant in the deleted state"
This is refactored from CC deletion issues (#804, #805, #806, and also code list deletion) to defer this more advance feature to post 2.0 release.

[2020-08-12 00:41] kbserm commented on #799
@rekuku Please disable the Extension component type from the EUCC. End User CC should not contain any extension anymore.

[2020-08-12 00:44] kbserm commented on #799
@rekuku Also we should not allow EUACC to have an association to any ASCCP that is a role of ACC that is an Extension component Type.

We will need to also prevent the end user from creating an ASCCP that is a role of an ACC that is an Extension component type.

[2020-08-13 00:06] rekuku commented on #799
@kbserm Oaky, I will put blocking logics to  EUACC,
But, what if sub-nodes contain extensions?
Should we check all-children dose not have the Extension acc?
Here is the example of biopharma.
<img width="1426" alt="Screen Shot 2020-08-12 at 7 37 27 PM" src="https://user-images.githubusercontent.com/10194354/90079902-35fbdf80-dcd7-11ea-8c65-c2ed0f73eff9.png">

[2020-08-13 16:53] kbserm opened #868 "Validation about property uniqueness in ACC"
Developer ACC can wait until the release validation but EUACC has to be done in a more timely fashion because it is already in a release.

[2020-08-14 14:23] kbserm commented on #799
@rekuku Great  point. Thanks. We cannot block developer CCs that have extensions from being used in the EUACC. The BIE logic must block the end user from create Local/Global Extension within the Extension. I'm not sure if that is already there?

[2020-08-14 14:29] kbserm commented on #799
@rekuku Think of it again, I think it doesn't matter. We don't have to block the end user from invoking Local/Global Extension within the Extension.

[2020-08-14 15:17] rekuku commented on #799
@kbserm  Got it, If we can not make EUACC of extension type,
there is no need to check if there is an extension when appending EUCC to Local/Global Extension.

[2020-08-14 17:52] smorgan19 commented on #728
Hi @kbserm do you all have a timeline of when we can expect this release to be done.

[2020-08-14 19:53] kbserm commented on #728
We should have it for deployment testing by end of Aug.

[2020-08-15 15:49] kbserm commented on #818
In addition to checking state of the CC in the extension. We have to deal with the state of the end user code list as well. If end user code list state is not Production and Revision Number is 1, it cannot be used in the Code List drop down box - the code list should not be in the list. If rev is > 1, it can be included in the list in any state. It would be good to be able to flag in a way that it

[2020-08-20 17:36] kbserm opened #869 "Copying an End User BIE by an OAGIS developer needs to ignore descendant BIEs in the EUEG"
Copying an End User BIE by an OAGIS developer needs to ignore descendant BIEs in the End User Extension Group because a developer BIE cannot have an extension.

@asdimitriadis We need to document this in a test case and also User Guide.

Also need to make sure that this is carried into [milestone 2.0.](https://github.com/OAGi/Score/milestone/29)

[2020-08-20 19:06] kbserm opened #870 "backslash character disappears in html version of the user guide"

[2020-08-20 20:12] dubnemo opened #871 "Internal Server when Expressing Catalogm POST with metaheader"
![image](https://user-images.githubusercontent.com/32434235/90820715-6ce57d00-e2f7-11ea-975d-e26e45318910.png)

[2020-08-20 20:13] dubnemo commented on #871
Works with GET operation and metaheader enabled.

[2020-08-24 15:46] asdimitriadis commented on #780
The issue is that we cannot discard a revision of an ACC if we have appended some associations.
To reproduce the issue
1. Open an ACC which is in Published state
2. Create a new revision
3. Fill the Definition Source and Definition fields
4. Update the ACC
5. Append an ASCCP and a BCCP
6. Click the "Discard Revision" button.

An error is returned with the exception "java.sql.SQLIntegrityConstraint

[2020-08-24 15:47] asdimitriadis commented on #777
**The field Property Term of a BCCP cannot be left blank**

The issue is that the Property Term of a BCCP can be left blank.
To reproduce the issue:
1. Create a BCCP
2. Clear the Property Term field
3. Click the update button

To be consistent, I recommend to disable the Update button if the Property term is left bank and red color the Property Term input field.

[2020-08-24 15:50] asdimitriadis commented on #777
**The Namespace cannot be left black**
The issue is that the namespace input field can be left blank

To reproduce the issue:
1. Create a BCCP
2. Leave empty the Namespace selector field or choose the "-" option.
3. Click the update button

The expected behavior is that the Namespace field should be one of the available Namespaces.
To be consistent, I recommend to disable the Update button if the

[2020-08-24 15:51] asdimitriadis commented on #777
**The Namespace of a revised (rev >1) BCCP cannot be changed**

The issue is that we can change the Namespace field of a BCCP that its revision is greater than 1.
To reproduce the issue:
1. Revise a published BCCP
2. Change its Namespace

The Namespace field should be disabled.

[2020-08-24 15:57] asdimitriadis commented on #777
**An ACC which has a descendant ACC that uses a deleted BCCP should be flagged as it is in invalid state**

The issue is that upon opening an ancestor ACC that has an ACC that uses a deleted BCCP, the descendant ACC should be flagged as it is in an invalid state.
To reproduce the issue:
1. Create the BCCP1
2. Create the ACCdescendant
3. Append the BCCP1 to the ACCdescendant
4. Create the ASCCP1 us

[2020-08-24 15:59] asdimitriadis commented on #777
**Deleted BCCP under ACC should have a link to open it in a new tab**

The issue is that upon opening an ACC that has a BCC using a deleted BCCP, the BCCP does not have a link to allow the developer to open the deleted BCCP in another tab so that he can restore it back.

To reproduce the issue:
1. Create the BCCP1
2. Create the ACC1
3. Append the BCCP1 to the ACC1
4. Open the BCCP1 and delete it
5

[2020-08-24 16:03] asdimitriadis commented on #777
**A developer cannot restore a deleted BCCP owned by another developer**

The issue is that a developer cannot restore a deleted BCCP owned by another developer

To reproduce the issue:
1. Login in as developer devx
2. Create BCCP1 and delete it
3. Logout
4. Login as oagis
5. Open BCCP1 and try to restore it

The "Restore" button is disabled.

The expected behavior is that a developer should be ab

[2020-08-24 16:48] asdimitriadis commented on #779
The above issue that the Namespace is required and cannot be null neither "-" still exists.

[2020-08-24 17:44] asdimitriadis commented on #779
**The Property Term field cannot be left blank**

The issue is that when we edit an ASCCP, we can clear the Property Term field and Update the ASCCP.
To reproduce the issue:
1. Create a new ASCCP
2. Clear the Property Term field and Update it.

The expected behavior is the the Property Term field cannot be left blank.
To be consistent, I recommend to disable the Update button if the Property term

[2020-08-24 18:08] kbserm commented on #871
@hakjuoh since this is already fixed, if @asdimitriadis can verify it, we can roll this into 1.6.

[2020-08-24 18:09] kbserm opened #872 "Module filter and ASCC and BCC"
If any Module filter is specified, ASCC nor BCC would ever show up. Maybe, ASCC and BCC should be logically considered to in the same module as its owner ACC.

[2020-08-25 14:22] asdimitriadis commented on #870
In the docx format of the User Guide, we will use 2 backslahes in a row ( e.g., "Model\\Platform\\2_4\\Common"). Doing so, we will allow Sphinx to create an HTML file with 1 backslash (e..g. "Model\\Platform\\2_4\\Common").

Sphinx requires two backslashes in a row to represent a literal backslash (the first backslash "escapes" the second, preventing it being interpreted in an "escaping" role).

U

[2020-08-25 14:22] #870 closed

[2020-08-26 04:10] rekuku commented on #777
This issues are fixed. @asdimitriadis

<img width="710" alt="Screen Shot 2020-08-26 at 12 06 29 AM" src="https://user-images.githubusercontent.com/10194354/91254297-006fe100-e730-11ea-881b-d0cbe8740b47.png">

You can see the deleted associations with stroke line and it also have "Open in new tab" context menu.
How about this menu and UI? @asdimitriadis

[2020-08-26 04:11] rekuku commented on #779
This issues fixed @asdimitriadis.
Please test this on develop branch.

[2020-08-26 14:40] hakjuoh opened #873 "it looks like 'date' primitive doesn't show up on the primitive list."
After data for 'Date' primitive type migrated (#809), it showed up the end of the primitive list. So users may have been confused. Sorting items in the list may be a solution.

[2020-08-26 16:55] asdimitriadis opened #874 "Data Integrity Validation Exception when expanding a BIE"
The issue is that when we try to expand a BBIE that has "Date" bdt as default we get an data integrity violation exception.

To reproduce the issue:
1. Create the BIE "Accounting Period"
2. Try to expand it.

[2020-08-26 20:37] rekuku commented on #780
The above issue has been fixed and tested.
Below I add some more issues:

1. The issue is that when we remove an association (ASCC or BCC) of an ACC there is no confirmation dialog box. The expected behavior is that when we remove an association of an ACC there must be a confirmation dialog box to confirm our intention.
KWANGHOON: I was add confirmation dialog box for set/delete associations and b

[2020-08-26 21:07] rekuku commented on #780
@kbserm Click DEN on the dialog opens the CC in a new window.

@asdimitriadis this bug has been fixed.

[2020-08-27 17:13] rekuku commented on #874
The oagi1docker/srt-repo:1.5.0 image had missing information.
As a result of checking with the @hakjuoh , there is no problem with the migration-script.
It will not happen to existing users.
We uploaded the updated srt-repo:1.5.0 and srt-repo:1.6.0 images.
Please delete the local 1.5.0, 1.6.0 images and download a new one to check.
@asdimitriadis

[2020-08-31 11:59] asdimitriadis commented on #874
Tested and it works.

[2020-08-31 11:59] #874 closed

[2020-08-31 19:42] #778 closed

[2020-08-31 19:43] #803 closed

[2020-08-31 19:47] #828 closed

[2020-08-31 19:58] kbserm commented on #801
If we are not making UI in 2.0, we need to test the database schema that it can hold modules information for at least 2 OAGIS releases.

We also might want to update the OAGIS model schema generation code so that it can generate/express OAGIS releases.

[2020-09-01 00:13] #804 closed

[2020-09-01 00:13] #806 closed

[2020-09-01 13:02] asdimitriadis commented on #871
Tested and it works good.

[2020-09-01 13:02] #871 closed

[2020-09-01 17:44] kbserm commented on #860
@dubnemo can that be a separate issue?

[2020-09-01 22:07] asdimitriadis commented on #837
It works. Tested.

[2020-09-01 22:07] #837 closed

[2020-09-01 22:09] asdimitriadis commented on #827
I have closed this issue since we changed the logic (it is simpler now). The related Test Assertions  of the Test Case  "Test Case 10.1	Core component access" have changed as well.

[2020-09-01 22:09] #827 closed

[2020-09-01 22:11] asdimitriadis commented on #838
Fixed and it works good.

[2020-09-01 22:11] #838 closed

[2020-09-01 22:13] asdimitriadis commented on #833
The buttons were checked for changed and the changes adopted in the scripts. The only issue was related to the forenamed button. Therefore, I am closing this issue since we do not use Group and Permissions in Score 2.0

[2020-09-01 22:13] #833 closed

[2020-09-01 22:23] asdimitriadis commented on #507
This is tested and it works with the following logic:
1. If the Component Type is "Base (Abstract)", the Abstract checkbox is automatically checked and disabled (it cannot be unchecked).
2. Abstract can only be true when the Component Type is "Base (Abstract)" or Semantics. In the latter case he Abstract checkbox can be true or false (it is enabled).

Also, we discussed (on 8/31/2020 meeting) abou

[2020-09-01 22:23] #507 closed

[2020-09-01 22:33] asdimitriadis opened #875 "Deleted CCs should be listed in the CC list"
The issue is that the deleted CCs are not listed in the CC list page. In order for them to be listed one (developer or end user) should use the State filter.

The expected behavior is that the deleted CCs should be listed in the default list of the CCs page.

[2020-09-02 11:08] kbserm opened #876 "Load value from code list in Context Scheme"
After clicking load from code list the message in the dialog should be "All existing values will be removed and replaced with values from the code list."

[2020-09-02 14:11] kbserm opened #877 "Spelling"
![image](https://user-images.githubusercontent.com/7863166/91994316-795cd300-ed04-11ea-922c-1aaf89d97cec.png)

Change to "Only the owner can access BIE in this state."

[2020-09-02 14:18] kbserm opened #878 "Odd behavior"
To reproduce.

1. User1 has BIE1 in QA state.
2. User2 view  details of BIE1 (in another incognito window).
3. User1 change BIE1 to WIP.
4. User2 click refresh on BIE1 => User2 got sent back to log in page. Try to log back in. Keep getting Authentication failure. Have to either close the incognito window and reopen or log in and out as another user to clear the Authentication failure.

This is low

[2020-09-02 17:08] smorgan19 opened #879 "SSO Improvements: Admin Ability to use SSO"
Currently the Single Sign On implementation only allows for non-admin users to sign on with SSO.  If possible, allowing the admins to use the SSO option as well would be a nice feature.  To enable the admins to use SSO currently, this would need to be done via a manual SQL query.

[2020-09-02 17:24] smorgan19 opened #880 "SSO Improvements: Auto-Generating New Accounts and Removing Non-Existing Accounts"
Currently, Admins will need to manually create new users and tie the accounts when a new user selects login to SSO.  If for instance, 20 users needed to be added at once, this manual process can take a while, thus automating the new user creation process would be a beneficial new feature.  Once a new user is created via the automated process the admins would be notified. The pending SSO area alrea

[2020-09-02 17:47] kbserm opened #881 "Change terminology in the primitive restriction area for BBIE and BBIE SC"
![image](https://user-images.githubusercontent.com/7863166/92018152-c354b180-ed22-11ea-9901-d293445515d5.png)

[2020-09-02 19:42] hakjuoh commented on #881
@kbserm If the value domain type is 'Primitive' on the left-side, it should use 'Primitive' as a placeholder on the right-side like this.
<img width="470" alt="Screen Shot 2020-09-02 at 3 37 15 PM" src="https://user-images.githubusercontent.com/16102116/92028549-36b1ef80-ed32-11ea-906a-235b450aef02.png">

If not, it replaces 'Primitive' text with 'Value Domain'.
<img width="464" alt="Screen Shot 2

[2020-09-02 20:37] asdimitriadis opened #882 "CC List page displays no CC"
The issue is that there is no CC listed in the CC list page.

To reproduce the issue, you can visit the CC list page.

[2020-09-02 21:20] hakjuoh commented on #862
@dubnemo @kbserm Applied changes for `oas_doc_server` table on MySQL DDL and Data Model. It uploaded on [Confluence](https://oagiscore.atlassian.net/wiki/spaces/AD/pages/229998611/Entity+Relationship+Model+for+OpenAPI+Specification) either.

[2020-09-02 22:08] kbserm commented on #881
the latter Hakju. It is simpler - always fix to Value Domain, regardless of type.

[2020-09-02 22:29] kbserm commented on #879
@hakjuoh actually with the way SSO currently work, I think we can do this.

@smorgan19 keep in mind though one account can have only one role.

[2020-09-02 22:40] hakjuoh commented on #879
@kbserm This change may also need updating the User Guide.

[2020-09-02 23:42] asdimitriadis commented on #882
It is fixed (009f15933dbbc5e4b4b0041fd65458ce2ea22e15) and it works.

[2020-09-02 23:42] #882 closed

[2020-09-03 13:06] kbserm opened #883 "BIE Business Context could still be changed when it is not owned and not in WIP state"
Business context should be updatable only when the user own the BIE and only when the BIE is in WIP state.

This issue also occurs in 2.0.

[2020-09-03 13:40] kbserm commented on #883
After inspecting the design history it was an intention that the biz context can be edited in any state and by any user. This is per #671. At this point, we will leave it like that. But @asdimitriadis pointed out about how this will effect BIE reuse when we do check for compatibility. May be going forward BC can only be added but not removed after BIE is in production.

[2020-09-03 13:44] kbserm opened #884 "Rethink about BIE Business Context Assignment"
Currently BC of the BIE can be updated in any BIE state and by anyone. How this will impact BIE Reuse if BC compatibility is required b/w BIEs. May be going forward BC can only be added but not removed after BIE is in production.

Related issues are #883 and #671

[2020-09-03 13:44] #883 closed

[2020-09-03 19:47] asdimitriadis commented on #879
The user guide has been updated

[2020-09-04 02:21] asdimitriadis commented on #873
The issue was related to DB. It has been fixed and it works good.

[2020-09-04 02:21] #873 closed

[2020-09-04 02:39] #728 closed

[2020-09-04 02:39] #861 closed

[2020-09-04 02:39] hakjuoh commented on #879
This change applied in 1.6

[2020-09-04 02:39] #879 closed

[2020-09-04 14:26] asdimitriadis commented on #805
Note that  "The system shall provide an option for the developer to choose another ACC." of my previous comment is fixed. We can change the ACC of an ASCCP.
Also note that the "The system shall also allow the developer to open the deleted ACC in another tab where he can restore it. The developer may need to refresh the ASCCP detail page to clear the invalid flag." is fixed.

So we have to fix this

[2020-09-05 12:31] kbserm opened #885 "There is no branch selection on the Express BIE page"

[2020-09-05 13:08] kbserm opened #886 "Extension component"
The developer cannot directly create Extension component type.

There is a macro to create extension element for an ACC. As only local Extension element is used. The macro shouldn't generate the unused global element with qualified name such as WorderHeaderExtension.

There is an idea about offering remove macro as well. This may be good if the ACC name changes. Perhaps a macro to Sync Extension i

[2020-09-07 18:17] kbserm commented on #799
@rekuku I think you still need to check b/c the user might happen to select a developer extension to be added.

[2020-09-08 15:18] asdimitriadis commented on #777
Everything works good.

The "Open in new tab" option under the menu was tested as well and it works.

[2020-09-08 15:18] #777 closed

[2020-09-08 15:21] asdimitriadis commented on #779
Tested and it works good.

[2020-09-08 15:21] #779 closed

[2020-09-08 15:23] asdimitriadis commented on #780
Tested and it works good.

The "Open in a new tab" option under the menu is added instead of clicking the BCCP.

[2020-09-08 15:23] #780 closed

[2020-09-10 03:03] hakjuoh commented on #885
It now has same filters with BIE List page.
<img width="936" alt="Screen Shot 2020-09-09 at 11 03 06 PM" src="https://user-images.githubusercontent.com/16102116/92676958-a4d95200-f2f0-11ea-9bce-1a253d15d97b.png">